[2017-02-02 17:40] xeno-by commented on #609
@liufengyun Even if symbols aren't part of the public API, they can still be there under the covers, powering semantic comparison between trees. By exposing an operator like `Tree.===` that makes use of underlying symbols, we can pull off things like `tree === t"Int"`.

[2017-02-02 17:42] fommil commented on #605
@xeno-by it would bring in a dependency on shapeless and orientdb, I'm not sure you really want to do that. There is a lot more value in scala.meta providing a rich metadata structure in `.class` files and then allowing tooling (such as ensime) to built on top of that... so an opt-in replacement / complement to scalap.

I think I'd need to understand more about what you want to provide in the API,

[2017-02-02 17:43] fommil commented on #605
@ShaneDelmore @xeno-by I thought the question was at ensime... if its db could be queried

[2017-02-02 18:05] DavidDudson commented on #625
This could definately be implemented the same way as stats in contrib. eg withMods and getMods.

[2017-02-02 18:27] xeno-by commented on #605
@fommil So far, the goal is to store symbols for all idents. Further down the road, I'd also like to store types for all terms. Storing inferred type and term arguments also seems desirable, but I'm not sure how exactly we should approach that.

The use cases are dictated by the needs of the semantic API. We'd like to provide our users with ways to resolve names, calculate types, list members, etc

[2017-02-02 18:45] fommil commented on #605
It definitely is useful. But i don't think you need to provide the global lookup mechanism. Per class storage is fine.

This is limited to files that have been parsed by scala.meta, so won't work for deps and java. Hence I think it makes most sense for compile time.

[2017-02-03 09:26] fommil commented on #605
btw, my scalasphere talk is going to be on how ensime's indexer works, so hopefully you'll have a better idea of what it will do then. My preference for this semantic database would be if scala.meta creates the data (and provides a mechanism to deserialise it), and then an abstract API that is to be implemented downstream. Then scala-ide and ensime can provide their own implementations based on th

[2017-02-03 09:27] fommil commented on #605
(incidentally, scala-ide and ensime devs have spoken about this kind of architecture before for the presentation compiler... but neither of us has had the time)

[2017-02-03 13:53] xavier-fernandez commented on #565
The commit #633 fixed this issue, this ticket can be closed :)

[2017-02-03 13:55] notxcain commented on #565
Awesome, thanks!

[2017-02-03 17:55] xeno-by commented on #605
@fommil This sounds very interesting. Talk to you in Krakow!

[2017-02-03 18:02] xavier-fernandez commented on #620
Will work on this during this weekend :)

[2017-02-04 01:09] xeno-by commented on #602
@blast-hardcheese I think it'd be useful to support `...$` instead of giving `..$Nil` special semantics just for type paramteres.

Personally I'd start with modifying the parser to allow `...$` in places where one can write type parameters (currently, only `..$` is allowed there).

Afterwards, I'd go and change the logic in `Liftables.scala` that handles special cases in quasiquoting syntax: https

[2017-02-04 08:12] xavier-fernandez commented on #620
WIP Branch: https://github.com/xavier-fernandez/scalameta/commit/b736008e387089bcc8f506da126c35ef0f24dfa1

I will continue working this afternoon :)

[2017-02-04 08:52] xavier-fernandez commented on #630
I would also use it :)

[2017-02-04 09:52] soronpo commented on #620
If you like more test case ideas, you can checkout the files changed to add SIP-23 to scalac:
https://github.com/scala/scala/pull/5310/files

[2017-02-04 10:01] xavier-fernandez commented on #620
Thank you @soronpo, will check for sure :)

[2017-02-04 11:51] soronpo commented on #620
BTW, my intended use case for meta with literal types is to convert the `singleton-ops` library to the new meta, and simultaneously support Dotty, LBS and TLS. Currently we're dependent on the old macro systems. I think the new meta will provide us with much more interesting capabilities.
https://github.com/fthomas/singleton-ops

[2017-02-05 10:38] xavier-fernandez commented on #620
Current WIP implementation: https://github.com/xavier-fernandez/scalameta/commit/d5286497174ab2d3f1f4ef822aada8d18888349f

I am advancing a lot in the process to support literal types on Scalameta, but get blocked when parsing `42.type` directly, getting the following error:

[code]

I am pretty sure the solution has something to do with the `TypeIntro` classifier, but I can't work on this issue u

[2017-02-05 11:10] soronpo commented on #620
But 42.type is not available, AFAIK.
You can do `val a : 42 = 42` and `val b = a.type = 42`, but `val a : 42.type = 42` gives `Error:(136, 13) ';' expected but '.' found.
  val a : 42.type = 42`

[2017-02-05 11:15] soronpo commented on #620
I suggest you also try:
[code]

[2017-02-05 13:41] xavier-fernandez commented on #620
Dotty has the same behaviour?

If not we should split both capabilities in two, one for TLS and the other one for Dotty...

[2017-02-05 14:04] soronpo commented on #620
Checked it now. Dotty is the same as TLS in this.
[code]

[2017-02-05 16:12] xavier-fernandez commented on #620
Cool, I will finish the PR this night then :)

[2017-02-05 17:41] notxcain commented on #565
Hi! I'm on 1.6.0-635 and I'm still getting this
[code]

[2017-02-05 18:09] xavier-fernandez commented on #565
Will check this issue tomorrow

[2017-02-05 22:07] xavier-fernandez commented on #565
@notxcain I am not able to reproduce this bug in master, I suspect '1.6.0-635' do not haves the fix implemented yet :(

https://github.com/xavier-fernandez/scalameta/tree/recheck-%23565

[2017-02-05 22:17] xeno-by commented on #565
@notxcain Have you tried 1.6.0-633?

[2017-02-06 07:22] #606 closed

[2017-02-06 07:32] xeno-by commented on #607
Implemented an initial version of semantic DB persistence in 7c44e77. The format is an extremely inefficient text-based representation, locations are still specified via absolute paths. Nonetheless, the functionality is already useful. I'm closing this issue, moving further discussion to #605.

[2017-02-06 07:32] #607 closed

[2017-02-06 07:38] xeno-by commented on #608
I didn't need to implement position tracking for quasiquotes in order to hack up this functionality. For unpositioned trees, I'm simply prettyprinting and then immediately reparsing, obtaining a structurally-equivalent, but now well-positioned tree. Seems to work well for the original use cases of `t"Int"` or `q"List"`. Closing this issue and leaving the rest for #621.

[2017-02-06 07:38] #608 closed

[2017-02-06 07:55] notxcain commented on #565
@xavier-fernandez @xeno-by my bad. I was confused with version naming. It is fixed on `1.6.0-633`. Thank you!

[2017-02-06 07:55] #565 closed

[2017-02-06 09:52] xavier-fernandez commented on #565
@notxcain no problem :)

[2017-02-06 19:26] olafurpg opened #642 "Fatal error: semantic DB doesn't contain _root_"
Input (note, references code in classpath of active project)
[code]
Error
[code]

I can update this issue later with a link to reproduce on the scalafix repo.

[2017-02-06 20:39] xavier-fernandez commented on #556
Will start working on this issue this weekend :)

[2017-02-06 20:45] xavier-fernandez opened #645 "Enable Literal Types syntax for Scala 212 when version 2.12.3 is released"
The PR https://github.com/scalameta/scalameta/pull/640 is due to be merged, enabling Literal Types syntax on Dotty.

In spite type literals are not yet available on Scala 2.12, it is scheduled [to have them supported by Scala 2.12.2](https://github.com/scala/scala/pull/5310). When Scala 2.12.2 is released, the Scala 2.12 dialect should enable the flag for supporting literal types: https://github.c

[2017-02-06 20:50] olafurpg commented on #556
Nice @xavier-fernandez! :)

BTW. We recently added a `AssociatedComments` helper in contrib, see example usage https://github.com/scalameta/scalameta/blob/53f50e1c649cbe5bc396fa9a0e64501bb1ca374b/scalameta/contrib/src/test/scala/scala/meta/contrib/AssociatedCommentsTest.scala A scaladoc parser would greatly complement this helper.

[2017-02-07 09:32] xavier-fernandez commented on #495
https://github.com/scalameta/scalameta/pull/640

[2017-02-07 10:17] tgodzik commented on #312
I think I've got a 3 more parser errors after running scalafmt on our codebase. I hope they're relevant. Otherwise ignore me.

- <input>:80: error: => expected but : found
implicit def query[T <: (_, _): TypeInfo](implicit tab: Tabulator[Iterable[T]]): Tabulator[Query[T]] = new Tabulator[Query[T]] {
- <input>:99: error: malformed xml literal
case <tr>{ cells @ _* }</tr> =>
- <input>:18: error: `va

[2017-02-07 17:36] olafurpg opened #647 "Confusing that mirror.database is required even if database is unused"

[2017-02-07 17:52] olafurpg opened #648 "Error: ambiguous margnames"
While running ScalahostPlugin on the slick codebase at commit bd3c24be419ff2791c123067668c81e7de858915
[code]

[2017-02-07 20:45] xeno-by commented on #647
Do you encounter this problem when trying to do `Ref.symbol`?

[2017-02-07 20:46] olafurpg commented on #647
Yes, it seems I need to call database at least once before symbol.
On Tue, 7 Feb 2017 at 21:45, Eugene Burmako <notifications@github.com>
wrote:

[2017-02-07 21:26] xeno-by opened #650 "semanticdb is dumped at the directory where sbt is run"
It looks like scalac instantiated by sbt has an incorrect path in `global.settings.d.value`, and that confuses scalahost (https://github.com/scalameta/scalameta/blob/f26801820116511945d867d83f2a3f3312d8bf44/scalahost/src/main/scala/scala/meta/internal/scalahost/ScalahostPipeline.scala#L29).

@dwijnand I'd appreciate your advice.

[2017-02-07 21:27] xeno-by opened #651 "Improve targeted tests"
It'd be nice to be able to say `<<scala.Int>>` instead of `scala.<<Int>>` and then navigating to the parent.

Currently, this is blocked by the fact that the second parameter of `targeted` (the lambda expression) takes parameters of type `Name`. We can probably work around that by judicious use of whitebox macros.

[2017-02-07 21:50] dwijnand commented on #650
I don't know global.settings.d.value, but I can spend some time looking into it. I dont know scalahost, so could you tell me what the steps are to reproduce the error? sbt run at the root of the repo?

[2017-02-07 22:28] xeno-by commented on #650
Thanks for your help!

The reproduction may be a little tricky, so I'd just like to ask for your knowledge in this area. How does sbt communicate the target directory to the hosted scalac instance?

[2017-02-07 22:54] xavier-fernandez commented on #620
The PR #640 was merged, this ticket can be closed, or something else needs to be done?

[2017-02-07 22:55] xeno-by commented on #620
Yep, let's close it. Thank you!

[2017-02-07 22:55] #620 closed

[2017-02-07 22:56] xavier-fernandez commented on #495
This ticket can be closed?, the PR #640 was merged :)

[2017-02-07 22:57] soronpo commented on #620
Wow! Nice. How do I get to use? When will the next release be available? I have big plans for this 😄

[2017-02-07 22:59] xeno-by commented on #620
@soronpo Check out `1.6.0-640`.

[2017-02-07 23:01] xavier-fernandez commented on #556
@olafurpg, I will start working with the Scaladoc parser :)

[2017-02-07 23:14] dwijnand commented on #650
It's defined in term of the project's `compile:classDirectory`, which by default is defined as:

[code]

So typically `target/scala-2.12/classes`.

On the other end of the spectrum global.settings.d is set (via settings.outputDirs) like so: https://github.com/sbt/sbt/blob/v0.13.13/compile/interface/src/main/scala/xsbt/CompilerInterface.scala#L74

Ping if you need any more, happy to help.

[2017-02-08 00:55] #642 closed

[2017-02-08 16:28] olafurpg opened #655 "Fatal error: semantic DB doesn't contain Ctor.Ref.Name("this")"
To reproduce
[code]

[2017-02-08 17:39] olafurpg opened #656 "Ambiguous Symbol import"
With
[code]
both import Symbol.

Workaround
[code]

[2017-02-08 20:27] DavidDudson opened #657 "Trailing commas in 2.12.2"
PR was just merged https://github.com/scala/scala/pull/5245.

We need to allow trailing commas in 2.12.2 but not previous version. much like literal type syntax

[2017-02-08 20:39] dwijnand commented on #657
AFAIK @xeno-by said scalameta already did support this.

[2017-02-08 20:43] DavidDudson commented on #657
Ah okay, maybe its a recent addition. I may have missed it. My bots only running 1.4 still

[2017-02-08 21:21] DavidDudson opened #658 "Consider adding tutorials to scala-exercises"
I think meta would make a great addition to https://www.scala-exercises.org/

To add a project:
https://github.com/scala-exercises/scala-exercises/blob/master/DEV_GUIDE.md

I'm quite happy to assist with this, following the scalameta/tutorial guide.

I'm unsure how stable meta is to be used in this environment. Perhaps we should wait for meta 2.0

[2017-02-08 21:22] DavidDudson commented on #658
We may want to also wait for https://github.com/scalameta/scalameta/issues/616

[2017-02-08 23:56] xeno-by commented on #657
[code]

Trailing commas don't seem to work in scala.meta.

[2017-02-08 23:58] DavidDudson commented on #657
I presume we will have to change quasiquotes too?

[2017-02-09 00:04] xeno-by commented on #657
@DavidDudson Yes, but it'll happen automatically once we modify the parser.

[2017-02-09 13:03] olafurpg commented on #657
See #660 for a PR adding support for trailing commas.

[2017-02-09 13:53] olafurpg opened #661 "Reorganize dialects"
I propose to change `Dialect` from an `@root` ADT into a case class (or `@data`). Benefits

- Possible to create custom dialect with `.copy`, eliminates the need for https://github.com/scalameta/scalameta/pull/653
- Less boilerplate in adding new dialects, preventing copy-pasta errors https://github.com/scalameta/scalameta/pull/660/commits/cf8618b30cb9a26f69eb53547b82bd8d66957cd9
- More readable c

[2017-02-09 13:59] xavier-fernandez commented on #661
👍

[2017-02-09 14:01] dwijnand commented on #661
I started a patch for this. Happy to take this task unless it's urgent on for anyone.

[2017-02-09 14:06] xavier-fernandez commented on #661
I am with this, its on top of this PR: https://github.com/scalameta/scalameta/pull/659

[2017-02-09 14:22] olafurpg commented on #661
See https://github.com/scalameta/scalameta/pull/662#issuecomment-278653974 for a draft implementation.

[2017-02-09 14:24] olafurpg commented on #661
The problem with case classes is that new fields break binary compatibility 😭

[2017-02-09 14:54] olafurpg opened #663 "Unexpected symbol in Enumerator.Generator"
[code]

[2017-02-09 17:17] olafurpg opened #664 "invalid format"
[code]
when  compiling Slick with the scalahost compiler plugin.

[2017-02-09 17:58] olafurpg commented on #664
After some debugging, I suspect this issue is caused by the fact that sbt builds multi-project builds in parallel and scalahost tried to read an incomplete database that was being serialized. I am not able to reproduce if I run compile each project individually.

[2017-02-09 18:25] olafurpg opened #665 "unsupported file <no file>"
While compiling scalactic with scalahost

[code]

[2017-02-09 18:31] olafurpg commented on #664
Here is another related error

[code]

[2017-02-09 18:31] olafurpg commented on #665
Here is another related error

[code]

[2017-02-10 03:03] #648 closed

[2017-02-10 03:19] xeno-by commented on #658
Thank you for the great idea! Let's wait for a couple monthly releases to make sure that the semantic API stabilizes. Wdyt @olafurpg?

[2017-02-10 03:43] xeno-by commented on #664
@olafurpg Can we close this issue then?

[2017-02-10 03:44] xeno-by opened #666 "consider generating one semanticdb file per compilation unit"
To quote @olafurpg:

[code]

[2017-02-10 03:45] xeno-by commented on #664
Also, speaking of reading an incomplete database, fixing #650 and #666 should completely prevent that issue.

[2017-02-10 07:08] DavidDudson opened #667 "Function0 regression"
https://github.com/scalameta/paradise/issues/151

Regression:
`syntactic("() => 1")`

[2017-02-10 07:08] DavidDudson commented on #667
@xeno-by can we get a scalahost label? It looks like I cant add labels, only use them.

[2017-02-10 08:52] olafurpg commented on #667
Good idea, I created a scalahost label

[2017-02-10 09:03] olafurpg commented on #664
Yes, we can close this. I have a WIP PR that makes it possible to configure the persistence scheme.

[2017-02-10 09:03] #664 closed

[2017-02-10 09:17] DavidDudson opened #668 "For comprehension with assignment"
https://github.com/scalameta/paradise/issues/146

Issue:
`syntactic("for { n <- nums;  _ = n + 2 } yield n + 1")`

[2017-02-10 09:22] DavidDudson opened #669 "Val position lost with multiple declarations"
https://github.com/scalameta/paradise/issues/116

[code]

[2017-02-10 09:25] DavidDudson opened #670 "Val annotation lost"
https://github.com/scalameta/paradise/issues/115

[code]

[2017-02-10 09:41] DavidDudson commented on #667
@olafurpg can you please make it uppercase like the others? `Scalahost` instead of `scalahost` my OCD is killing me :frowning:

[2017-02-10 09:42] olafurpg commented on #667
Haha, I didn't notice the pattern. Done!

On Fri, Feb 10, 2017 at 10:41 AM David Dudson <notifications@github.com>
wrote:

[2017-02-10 09:56] DavidDudson commented on #667
:+1:

[2017-02-10 10:49] #657 closed

[2017-02-10 14:33] xeno-by opened #672 "simplify supporting macros in scala.meta"
### Macros used in the public API of scala.meta

Essential:
  * Quasiquotes (string interpolators, auxiliary `Lift`/`Unlift` macros)

### Macros used when compiling scala.meta

Essential:
  * `@root`, `@branch`, `@leaf` and supporting infrastructure for ADTs, ASTs and tokens
  * `@transformer` and `@traverser`

Convenience:
  * `unreachable`
  * `require`
  * `@quasiquote`
  * `@classifier`
  * So

[2017-02-10 14:34] xeno-by commented on #672
@olafurpg Do you have other suggestions on what would be better to replace with non-macro equivalents without a significant loss of conciseness?

[2017-02-10 14:35] olafurpg commented on #665
Closing, since I am unable to reproduce this error with scalahost. I suspect the error is caused by how scalafix manually mixes the scalahost plugin in https://github.com/scalacenter/scalafix/pull/57

I am leaning towards dropping the scalafix compiler plugin in favor of using only the scala.meta Mirror for semantic analysis. This would also require us to upstream some features from ScalafixMirror

[2017-02-10 14:42] olafurpg commented on #666
Here is a prototype implementation for this

https://github.com/scalameta/scalameta/compare/master...olafurpg:settings.d?expand=1

[2017-02-10 14:46] olafurpg commented on #672
What benefits does the `@data` macro have over case classes? I don't mind it so much really, but intellij disagrees.

[2017-02-10 14:52] olafurpg opened #673 "Create scalahost-sbt plugin"
Prototype here: https://gist.github.com/olafurpg/9c7cf9ddfb299d5e44d511cf99772d66

Features:
- setup the compiler plugin with correct scalacOption for >2.10 projects
- make it possible to pass in path to local jar via system properties for quick testing.

[2017-02-10 14:54] olafurpg commented on #647
This is not urgent. I bumped into this when setting up my own test fixture with scalahost+scalafix. I opened the issue just to document the confusion I experienced

[2017-02-10 16:49] gabro commented on #556
@olafurpg as a confirmation of the utility of this, we've been using [our own scala-meta based tool](https://github.com/buildo/metarpheus) for parsing spray directives and generating API documentation, even in the form of swagger (well, and javascript clients too, why stop there? ;) ).

So, +1, and thanks for your work!

[2017-02-10 17:13] olafurpg opened #674 "Explicit method to extract parsed Tokens (no automatic synthesis!)"
I have been bitten several times by the fact that `.tokens` takes an implicit dialect and synthesizes new tokens if there is no origin OR if the origin had different dialect. Example where this synthesis is a problem

1. parse code with custom dialect in scope
2. pass tree to method with no custom dialect in scope (defaults to Scala211)
3. `.tokens`, passing in default dialect
4. tokens are automa

[2017-02-10 18:03] olafurpg opened #675 "Symbol.fullName + Symbol.name"
See https://github.com/scalacenter/scalafix/pull/57/files#r100466110

[2017-02-10 18:12] xavier-fernandez commented on #556
@olafurpg The Scaladoc is going to be named `AssociatedScaladoc` and its being located in contrib too. The behaviour is going to be really similar to `Associatedcomments`.

Makes sense?

[2017-02-10 18:19] olafurpg commented on #556
@xavier-fernandez Can you give an example of how you would use `AssociatedScaladoc`? I had this parser would make it easier to do stuff like

[code]

[2017-02-10 18:44] xavier-fernandez commented on #556
@olafurpg, yes, I am going to use `Token.Comment` as the source.

I was thinking in supporting all

 I would create the following classes for showing the scaladoc:

- `DocText`
- `DocNewLine`
- `DocDescription`
- `DocConstructor`
- `DocParam`
- `DocReturn`
- `DocSnippet`
- `DocParam`
- `DocExample`
- `DocSee`
- `DocTodo`
- `DocDeprecated`
- `DocMigration`
- `DocDefine`
- `DocSince`
- `DocAuthor`
-

[2017-02-10 21:17] DavidDudson commented on #672
I wonder how much better things would get if we ported the macros to meta macros where possible. As meta macro support far surpasses the old. However intellij still doesn't add new Ref's to its index IIRC

[2017-02-10 22:14] DavidDudson commented on #556
Interesting. I can some use cases with quasiquotes here so you can inject params etc.
[code]

[2017-02-10 23:19] xeno-by commented on #672
@olafurpg https://github.com/xeno-by/scalameta/blob/master/scalameta/common/src/main/scala/org/scalameta/data/data.scala#L9

[2017-02-10 23:26] olafurpg commented on #672
I'm totally fine with @data in trees. I've seen @data used for example with
exceptions where it seems a case class would work the same.
On Sat, 11 Feb 2017 at 00:19, Eugene Burmako <notifications@github.com>
wrote:

[2017-02-10 23:40] olafurpg commented on #556
@xavier-fernandez Looks amazing, looking forward to see it :)

[2017-02-10 23:57] gabro opened #676 "org.scalameta/inline 1.5.0 doesn't seem to be available for scala 2.11"
I'm trying to install scalameta 1.5.0 on a scala 2.11 project.

After adding the Sonatype release resolver (1.5.0 doesn't seem to be on maven central) I "almost" got there, but the `"org.scalameta" %% "inline" % "1.5.0"` dependency doesn't seem to be available for scala 2.11 (while it is for scala 2.12).

See here: https://mvnrepository.com/artifact/org.scalameta/inline_2.11

I'm I doing something

[2017-02-11 00:15] xavier-fernandez commented on #556
Perfect, I will start with this a PR for parsing scaladoc, then I would probably work on the @DavidDudson proposal :)

[2017-02-11 00:17] xeno-by commented on #672
Wow, look what I found: https://github.com/scalameta/scalameta/blob/master/notes/macros.md.

[2017-02-11 00:19] xeno-by commented on #674
Also see https://github.com/scalameta/scalameta/issues/253.

[2017-02-11 00:52] xeno-by opened #677 "automatic release on tag"
@olafurpg says that this is already a thing in drone: `event: when: [tag]`, and with our recent build refactoring we're almost there infrastructurally. Looks legit.

[2017-02-11 01:44] olafurpg commented on #674
For context, here is the .tokens method that I have problems with: https://github.com/scalameta/scalameta/blob/5f277eda9c2ec2d812c637a776085637e579cf6e/scalameta/trees/src/main/scala/scala/meta/Trees.scala#L19

[2017-02-11 05:04] DavidDudson commented on #676
The sonatype servers failed to sync properly. @olafurpg has an issue on sonatype somewhere. For now you can use anything from.

I'm on my phone but the resolver is Resolver.bintrayIvy("scalameta", "maven")

http://dl.bintray.com/scalameta/maven/org.scalameta/

You might want to try scalameta-588 at least until 1.6 is released. I'm not sure if that was the exact PR that is tagged 1.5 but it should

[2017-02-11 09:34] xavier-fernandez commented on #676
[code]
[code]

[2017-02-11 09:40] gabro commented on #676
Thanks for the responses. Does the bintray repo include snapshots as well? I'd like to try out 1.6, but I can't find it published anywhere.

[2017-02-11 09:41] gabro commented on #676
Answering myself, yes it does! https://bintray.com/scalameta/maven/scalameta

Thanks :)

[2017-02-11 09:41] #676 closed

[2017-02-11 09:56] xavier-fernandez commented on #556
What about creating a Scaladoc Token?

Comment and Scaladoc token can be both descendant of a common phantom trait...

[2017-02-11 10:50] xavier-fernandez commented on #556
I pushed a POC of how I was thinking to implement the Scaladoc parser on a project:

https://github.com/xavier-fernandez/scaladoc_parser_poc/commit/44c0a1e16f2e0615288f273be159ea555e92727d

I will continue working on this issue this afternoon. :)

[2017-02-11 11:15] olafurpg commented on #556
Looks like a good start. It seems it doesn't handle multi-line descriptions
for params, for example. Did you consider using fastparse? You could write
a parser for each DocToken, DocToken parser us their union and a scaladoc
parser is a Seq[DocToken]. Fastparse is already a scalameta dependency.
On Sat, 11 Feb 2017 at 11:50, Xavier Fernández Salas <
notifications@github.com> wrote:

[2017-02-11 11:20] xavier-fernandez commented on #556
@olafurpg Thank you, will take a look on it this afternoon :)

[2017-02-11 19:41] xavier-fernandez commented on #556
@olafurpg, just take a look to `fastparse`, looks promising, I will use it for modeling the `DocToken`merging.

I should use it for anything else? The process to parse the lines to `DocToken` is pretty simple IMO.

[2017-02-12 04:01] xeno-by commented on #645
Also, we shouldn't forget to enable trailing commas as well.

[2017-02-12 05:09] xeno-by commented on #673
This looks useful, because the correct setup is nontrivial. Not only users need to specify `addCompilerPlugin(...)`, but also they need to not forget about `-Yrangepos`.

One request would be to annotate the sbt plugin with the same version as the version of the associated scalahost.

[2017-02-13 14:53] olafurpg commented on #673
This is easily solvable with sbt-buildinfo.

[2017-02-13 19:54] olafurpg opened #679 "online.Mirror.database is recalculated on every call to .symbol"
See https://github.com/scalacenter/scalafix/issues/63#issue-207287926 and accompanying quick-fix in scalafix https://github.com/scalacenter/scalafix/pull/67.

[2017-02-13 23:10] #661 closed

[2017-02-14 00:33] xeno-by commented on #647
As far as I can see, `Ref.symbol` automatically calls into `database` anyway: https://github.com/scalameta/scalameta/blob/5b1fce6280115ff38c3e0a58a608079dfb955eba/scalahost/src/main/scala/scala/meta/internal/scalahost/v1/Mirror.scala#L56. Could you tell a bit more about how to encountered this problem?

[2017-02-14 09:34] #675 closed

[2017-02-14 09:34] #679 closed

[2017-02-14 10:58] olafurpg opened #681 "Set scalaVersion to latest in scalahost-sbt"
Currently, only 2.11.8 and 2.12.1 are published. This means that projects building against for example 2.12.0 get the error

[code]

[2017-02-14 11:49] xavier-fernandez commented on #556
Making a macro for the 'append body' method from this commit makes sense? https://github.com/xavier-fernandez/scaladoc_parser_poc/commit/6f6c2dae21bb4e7a2473ff8200648bdd372a31e6

[2017-02-14 14:07] olafurpg commented on #647
I am unable to reproduce the problem now. Closing

[2017-02-14 14:07] #647 closed

[2017-02-14 14:12] olafurpg opened #684 "Parse error in Paradise211 dialect"
[code]

[2017-02-14 14:34] olafurpg commented on #556
There's no need for a macro there, macros should be avoided at all costs IMO. How about using single case class with a `kind` field?

[code]

[2017-02-14 14:47] xavier-fernandez commented on #556
@olafurpg Ok, will follow this approach instead, it is much better, thank you :)

[2017-02-14 21:15] xeno-by commented on #681
Tbh I'd like to limit ourselves to just the latest minor versions of 2.11/2.12. As paradise shows, supporting everything gets old very quickly. Wdyt?

[2017-02-14 23:10] olafurpg opened #685 "Ensure that semanticdb is preserved for all projects in sbt-scalahost"
Currently, compiling two projects in parallel can cause one project to override the semanticdb of another project.

[2017-02-14 23:12] xeno-by commented on #685
Duplicate of https://github.com/scalameta/scalameta/issues/650

[2017-02-14 23:14] olafurpg commented on #685
Aha, I didn't make the connection that these were related, thanks!

[2017-02-14 23:14] #685 closed

[2017-02-14 23:46] olafurpg commented on #681
I agree, would be nice if scalahost-sbt could automatically set the scala version to latest then. I currently get resolve errors running on community build.

[2017-02-15 00:43] #650 closed

[2017-02-15 01:27] #684 closed

[2017-02-15 09:59] xavier-fernandez commented on #556
For merging the tokens, with the currently implemented system, it will be as easy as:

[code]

I should use fastparse considering this?

[2017-02-15 10:02] xavier-fernandez commented on #556
https://github.com/xavier-fernandez/scaladoc_parser_poc

[2017-02-15 10:03] xavier-fernandez commented on #556
https://github.com/xavier-fernandez/scaladoc_parser_poc/commit/fd63cdf68a8d2a380c97c320e212023bc6513179

[2017-02-15 15:03] olafurpg commented on #665
Reopening since I was able to reproduce this error with running scalahost-sbt on minitest from the community build,

[code]

[2017-02-15 16:45] #673 closed

[2017-02-15 16:45] #681 closed

[2017-02-15 19:06] olafurpg opened #688 "sbt-scalahost publish is broken"
From CI: {"message":"Repo 'sbt-plugins' was not found"}
http://drone.geirsson.com:8001/scalameta/scalameta/326

[2017-02-15 19:55] olafurpg commented on #556
@xavier-fernandez I'm excited to see those unit tests, that will make it easier to understand how the parser works.

[2017-02-15 23:24] #688 closed

[2017-02-16 01:49] rcano opened #691 "Scala meta can't match valid scala code under -Yinfer-argument-types"
Tokenizing works, but parse[Source] doesn't, I also don't see a way to configure this in order to enable it.

[2017-02-16 09:48] olafurpg commented on #691
Can you please include a minimal example to reproduce?

[2017-02-16 14:19] rcano commented on #691
[code]
Compiles fine, now:
[code]

[2017-02-16 17:33] xeno-by commented on #691
Looks like we need to add a new field to `Dialect`: https://github.com/scalameta/scalameta/blob/a9f6f83ecd706c0d1309f4f315a4d3d56df7f44e/scalameta/dialects/src/main/scala/scala/meta/dialects/package.scala#L16.

After we have this new field, it would be possible to do something like `Scala211.copy(allowTypelessParams = true).apply(<snippet of code>).parse[...]`.

[2017-02-17 02:43] xeno-by commented on #605
@densh suggested that we may be better off with less concise, but also less cryptic symbol ids. For example, instead of `scala.Int#`, we could say `scala : type Int` or something similar.

[2017-02-17 02:45] xeno-by opened #695 "Use thrift or protobuf for semanticdb persistence"
/cc @olafurpg

[2017-02-17 10:40] xavier-fernandez commented on #695
I can work with this ticket as soon as I finish working with: https://github.com/scalameta/scalameta/pull/692

[2017-02-17 16:09] xeno-by commented on #695
Thank you! Though please ping us on gitter first. We're in the middle of discussing a refactoring to the semantic database data structures.

[2017-02-17 17:42] xavier-fernandez commented on #695
@xeno-by Ok, no problem :)

[2017-02-19 19:27] jvican commented on #607
I see you mention https://github.com/sbt/zinc/issues/125. I'd like to see what we can do in the Zinc front to make the Scala Meta semantic database compatible with it. I have no idea how your text-based representation works, so perhaps we can work out the requirement/details to fix this issue down the line.

[2017-02-22 08:26] xeno-by opened #698 "pomPostProcess doesn't work for bintray"
https://github.com/scalameta/scalameta/blob/c4cdfa144e99fc70f348afbded10c4a53a80c812/build.sbt#L203-L214 doesn't work for builds on bintray.

[2017-02-25 22:48] DavidDudson commented on #617
`Term.Select` and `Type.Select` may need to return option `asTerm: Option[Term.Select]`

I think we need to bail if the path is not convertable

[2017-02-26 00:50] DavidDudson opened #703 "Referential equality test failure in corpus"
Change the random number to 650.

Notice that 2 files fail. Both are fully commented out.

Due to transform taking a PartialFunction.

If the input ast does not contain a single Type.Name or Term.Name. The tree will never be transformed. And referential equality will hold.

The below is an example...

[code]

[2017-02-26 16:24] olafurpg commented on #703
Good catch! I suspected something like this might happen with the randomized tests, hence I printed out the seed to reproduce.

[2017-02-26 16:26] olafurpg commented on #703
Fixed in #704

[2017-02-26 16:26] #703 closed

[2017-02-26 16:34] olafurpg opened #706 "Remove `<: Tree` restriction on Structurally and Syntactically"
I kind of regret adding the `<: Tree` restriction on the equality type classes, it propagates to everywhere for a questionable benefit.

[2017-02-28 08:33] olafurpg opened #708 "Simpler `Equal` api"
Following discussions on gitter here: https://gitter.im/scalameta/scalameta?at=58b4d2391465c46a56c297a8 and here https://gitter.im/scalameta/scalameta?at=58b534eade5049082225abe3

The `Equal` typeclass in contrib is a good start but could improve with

- more discoverability for beginners, for example with `equalStructurally` method. Question, should this method be included in the same `contrib._`

[2017-02-28 08:33] DavidDudson commented on #708
@xeno-by @ShaneDelmore opinions wanted.

[2017-02-28 09:04] DavidDudson opened #710 "Consider adding another gitter channel. specifically for contributors."
```scalameta/contributors```

Scalameta now has a large user base. It also quite a few contributors.

Discussing PR's or the library itself in` scalameta/scalameta` feels incorrect.
Most of the people are in there for support of to know about releases etc.

We also have many more contributors than we used to.

[2017-02-28 09:11] DavidDudson commented on #710
Agreed

[2017-02-28 09:11] #710 closed

[2017-02-28 11:40] olafurpg commented on #708
After some thinking, I believe it would be best if we can find a way to make `equal` default to structural equality, avoiding a `equalStructurally` method.

[2017-02-28 14:49] ShaneDelmore commented on #708
I like the default to structural equality, it seems to be desired most often. As for the two methods, I fear a beginner API as most examples are not written by beginners. If you start working with equalStructurally, then see others using equal[Structure] that might be more confusing than just starting with equal[Structur]

[2017-02-28 15:32] olafurpg commented on #708
That is a great point @ShaneDelmore. I managed to hack it so that the type-checker to default to structural equality. I also renamed `equal` to `isEqual` since I've written `equals` by mistake a few times, which always typechecks but causes problem at runtime. Feedback is welcome on #711

[2017-02-28 23:16] DavidDudson commented on #295
It was just mentioned in the scalafix channel that 2.10 support would be welcomed.

I think scalafix is definitely a factor here. Since most libraries cross compiles 2.10/2.11 and a lot of people are indeed stuck on 2.10 for a variety of reason. If scalafix could help migrate old codebases from 2.10 to 2.12 then I'm sure a large chunk of the community would appreciate it.

In saying that we defina

[2017-03-01 07:25] milessabin commented on #295
@xeno-by at the top of this thread you said "given that we don't even have a working scalahost for 2.11" ... is this still the case?

[2017-03-01 08:11] DavidDudson commented on #295
@milessabin There are very few issues with scalahost. It works with pretty well with scala 2.11 and 2.12
https://github.com/scalameta/scalameta/labels/Scalahost

The key list of remaining things to be ported are in the below ticket:
https://github.com/scalameta/scalameta/issues/619

Most of these are rarely used. If anyone encounters something that's missing that they need we tend to implement it

[2017-03-01 08:15] milessabin commented on #295
Is scalahost the _only_ thing which needs to be ported to 2.10?

[2017-03-01 08:31] DavidDudson commented on #295
To be honest, I don't have the full answer. I presume @xeno-by will.

I know that we cannot run scalameta in 2.10. All the macros would have to be backported (Probably using macro compat). And possibly other things??? Scalahost is only necessary for semantic rewrites, syntactic rewrites can happen without it. Also scala.meta annotation macros depend on scalahost.

In regards to syntactic rewrites,

[2017-03-01 08:31] olafurpg commented on #295
@milessabin scalahost that came in 1.6 is a new module and doesn't define any macros. The scalahost mentioned in the issue description references an older scalahost design, which is no longer relevant.

I believe the main up-to-date challenges to porting to 2.10 are listed in https://github.com/scalameta/scalameta/issues/295#issuecomment-208465462 In particular, the `@ast/@root/@leaf/@branch` macr

[2017-03-01 08:38] milessabin commented on #295
@olafurpg I was looking at [`ScalahostAnalyzer`](https://github.com/scalameta/scalameta/blob/master/scalahost/src/main/scala-2.11.8/scala/meta/internal/scalahost/ScalahostAnalyzer.scala) which seems to be the main version-variant source in this repo ... am I looking in the wrong place?

[2017-03-01 08:43] olafurpg commented on #295
@milessabin I think the best place to look is here https://github.com/scalameta/scalameta/tree/master/scalameta/common/src/main/scala/scala/meta/internal/ast

I don't think scalahost is main the blocker  for 2.10 support.

As for the sbt plugin use-case, I use classloading to run scala.meta in the scalafmt, scalafix and scalahost sbt plugins. It's not perfect, but it works pretty good as long as y

[2017-03-01 09:33] fommil commented on #295
@olafurpg I want to hack on a `presentation-compile` task at scalasphere on Saturday, can I grab you for a bit to show me how you did this?

[2017-03-01 09:42] olafurpg commented on #295
@fommil Do you mean classload with coursier? Sure thing 😄 there's not much to it really, see [here](https://github.com/olafurpg/scalafmt/blob/master/bootstrap/src/main/scala/org/scalafmt/bootstrap/Bootstrap.scala).

As for this issue, I think it's reasonable to expect OSS libraries to support the two latest versions of Scala (2.11 + 2.12). I think it's unfair to expect library maintainers to bend

[2017-03-01 09:51] fommil commented on #295
I really wish we could drop 2.10... the only thing holding me back in sbt.

Otherwise, I think it's fair to expect 2.10 (and arguably 2.11) support only on a commercial basis.

What we need to do is to pester Eugene constantly at scalasphere until he agrees to a 0.14 cut of sbt which is 0.13 built on 2.12 :smile:

[2017-03-01 09:52] #708 closed

[2017-03-01 09:55] olafurpg commented on #556
@jonas FYI, we just merged a first version of a Scaladoc parser into the `contrib` module, see https://github.com/scalameta/scalameta/pull/692

[2017-03-01 14:24] jonas commented on #556
Awesome, thanks @olafurpg and @xavier-fernandez. Will take a look. Should we close this ticket?

[2017-03-02 00:22] cvogt commented on #295
One way to look at it: Do we rather want 2.10 support or faster progress on the semantic api? I'd personally choose the latter :).

[2017-03-02 10:23] milessabin commented on #295
I think that 2.10 will be with us for a long time, so the absence of support for modern tooling on 2.10 will hold _everyone_ back. This has pretty clearly been the case wrt SBT plugins, and I expect it will be more than a year before even a bare majority of Scala users will be on an SBT version that's > 2.10.x.

[2017-03-02 12:08] dwijnand commented on #295
Again, there are ways to use scalameta today in sbt even if sbt is 2.10.

I'm happy to use scala.meta not supporting 2.10 to motivate and push people to upgrade away from 2.10, including sbt, as well as motivate and push people to upgrade to sbt 0.14/1.0.

[2017-03-02 13:05] barkhorn commented on #295
For us it is the dependency on bundled versions of Spark that forces us to stick with 2.10. Can't see that being resolved in at least this year, and there are probably other users of the Cloudera stack that are in a similar position.

[2017-03-03 13:57] olafurpg commented on #495
You are right @xavier-fernandez, we can close this issue.

[2017-03-03 13:57] #495 closed

[2017-03-03 13:58] olafurpg commented on #520
We just merged https://github.com/scalameta/scalameta/pull/709, which is a good start for this issue. I think we are safe to close this issue, missing info from CONTRIBUTING.md can be added via PRs.

[2017-03-03 13:58] #520 closed

[2017-03-03 13:58] xeno-by commented on #525
Just checked now, and the file parses successfully with scala.meta 1.6.0.

[2017-03-03 13:58] #525 closed

[2017-03-03 13:59] xeno-by commented on #269
Closing this in favor of individual issues mentioned above.

[2017-03-03 13:59] #269 closed

[2017-03-03 14:00] xeno-by commented on #443
@johannegger Could you provide a problematic file?

[2017-03-03 14:02] xeno-by commented on #556
Yeah, we shall. Thanks, everyone!

[2017-03-03 14:02] #556 closed

[2017-03-03 14:07] xeno-by commented on #349
Looks like a duplicate of https://github.com/scalameta/scalameta/issues/484.

[2017-03-03 21:06] DavidDudson opened #714 "Show[Desugared]"
I really want to implement this at some point. For educational purposes.

For example.

```q"def[A : Show]()".desugared```

There are 2 approaches to this:

1. Make the Scalac => Meta Converters in Scalahost 2 way.
2. Run the compiler to the point after desugaring happens.

To me 2. Seems like the easiest and most reasonable. But I believe 1. is a long term goal.

IIRC desugaring happens at multip

[2017-03-03 21:10] DavidDudson opened #715 "Show[ByteCode]"
There are a lot of arguments surrounding premature optimisation in Scala.

We could potentially comparing the bytecode is the easiest way to compare prove that 2 code snippets are equivalent.

[2017-03-03 21:13] DavidDudson opened #716 "Implement Equal[A] for all instances of Show"
Show tends to be similar to a specific "view" of the language. Comparing these is natural.

It would be as simple as `a.show[X].isEqual(b.show[X])` but could be optimised on an individual basis.

[2017-03-03 21:31] DavidDudson opened #717 "Have types used for Equal and Show the same."
For example...

`Equal[Syntax] and Show[Syntax]`

This removes the amount of knowledge the user requires to use the type classes, thus making the API more user friendly.

[2017-03-03 21:37] DavidDudson opened #718 "Add the ability to diff two trees"
`q"class Foo".diff(q"class Foo { def bar = Baz }") === "{ def bar = Baz}" : Nil`

For more complex diffs, a more thought out approach would be needed.
This would be useful for debugging large trees that are "almost" what you expect them to be.

- We could possibly look at how git diffs strings and replicate that behavior
- We could possibly create a `Diff` typeclass so that other forms of show can

[2017-03-03 21:39] DavidDudson opened #719 "Add a section to CONTRIBUTING.md for opening tickets"
There is now a statement "Please review the guidelines for contributing to this repository."
At the top of the page when creating a ticket. we should probably add guidelines for ticket creation too.

[2017-03-03 21:50] DavidDudson commented on #716
Related to #717

[2017-03-04 06:46] ShaneDelmore commented on #718
https://github.com/xdotai/diff Might be a good start for a structured diff if we added an ordered diff option. I believe it currently defaults to ignoring order when digging structures containing lists.

[2017-03-04 09:02] DavidDudson commented on #718
Looks interesting.

The purpose behind this and the various show tickets. is that some stage I want to analyse various codebase changes overtime, detecting functional changes from non-functional changes so you can throw away import reorders and whitespace changes when reviewing, or automate splitting them into a separate commit.

[2017-03-04 11:29] xavier-fernandez opened #721 "ScaladocParser should return a @root/@leaf based documentation tree"
The `ScaladocParser` merged into master https://github.com/scalameta/scalameta/pull/692 output class `DocToken` is inconsistent with scala.meta.Tree. Ideally, it should be a full recursive DocTree AST.

This improvovement should be made before 1.7, in order to avoid binary incompatibility on future Scalameta stable releases.

[2017-03-04 13:22] ShaneDelmore commented on #718
That would be amazing.

[2017-03-04 13:34] olafurpg commented on #718
If we want to go fancy
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.182.1395&rep=rep1&type=pdf

On Sat, 4 Mar 2017 at 14:22, Shane Delmore <notifications@github.com> wrote:

[2017-03-05 18:44] #594 closed

[2017-03-06 02:12] nairbv opened #730 "Provide full error list when parse fails instead of single position of first error"
Maybe I'm missing something, but from Tokenized.Error(position,message,details), and the tutorial (""" val str = "closed literal" """.tokenize match {.... case Error(...)=>???}), it looks like there can only be one error position/message returned if the given code doesn't parse.

In compiling actual Scala code with scalac, there are of course often multiple errors displayed in the output of the co

[2017-03-06 10:19] olafurpg commented on #730
The parser can only provide one error, this is true also for the compiler

[code]
The typer phase can report multiple errors.

I think IntelliJ uses advanced parsing tricks to find multiple error points in unparseable code. The same is possible with scala.meta today, but the logic needs to be implemented in the application side. I'm not 100% sure, but I think the trick is to start re-parsing state

[2017-03-06 10:27] olafurpg commented on #730
BTW. I think it would be great to have utilities in `contrib` to implement this logic that recovers from untokenizable/unparseable code and reports as many helpful errors as possible. If someone is interested in taking a swing at this, I'd be happy to help out with review/feedback on design.

[2017-03-06 10:42] olafurpg opened #732 "Move to drone 0.5"
Context: #731

[2017-03-06 20:13] #719 closed

[2017-03-08 00:54] tkroman opened #734 "Access to default parameters of macro annotations"
There is no way to access a default argument from inside the macro annotation: we operate either on a `new MyMacro(arg1, ..., argN)` in case argument(s) are supplied or on a `new MyMacro()` otherwise. As far as I understand, we can't inspect annotation definitions themselves, so there should be some 'external' mechanism to do it (?).

[2017-03-08 01:17] DavidDudson commented on #734
Moved to the correct issue tracker

[2017-03-08 01:17] #734 closed

[2017-03-08 01:29] DavidDudson opened #735 "Port ADT macros to scalameta/paradise"
AFAIK the ADT macros do not depend on any compiler internals.

The Mirror use is also minor, there no def macros.

This seems like the prime candidate for really testing out the new scalameta macro annotations.

Theres 2 reasons:

- Intellij support when maintaining meta is shocking, due to the use of the old macros.
  - It's basically just a memory hogging text editor.
- If all macros can be port

[2017-03-08 02:37] DavidDudson commented on #735
Some examples... Basically all of this prevents any symbol lookup, or refactoring helpers from working.

![example3](https://cloud.githubusercontent.com/assets/2680733/23687745/f6d1b9a4-0414-11e7-8edf-db18d61083b1.png)
![examplea](https://cloud.githubusercontent.com/assets/2680733/23687746/f6d3e83c-0414-11e7-947e-d193662fb87d.png)
![exampleb](https://cloud.githubusercontent.com/assets/2680733/2368

[2017-03-08 23:11] olafurpg opened #737 "Unexpected symbol for implicit conversion"
[code]

I'm not sure exactly what I expected. I expected the symbol to be the same for `[150..151)` and `[164..165)` and maybe the one with implicit conversions to be a multi-symbol.

[2017-03-09 22:05] cb372 commented on #735
I had a quick go at this but I don't see an easy way to solve the cyclic dependency between `common` and `scalameta`.

`scalameta` depends on `common`, so of course we can't add a `dependsOn(scalameta)` to the `common` project.

I wondered if we could naively add a dependency on `"org.scalameta" %% "scalameta" % "1.6.0"` and everything would just work. But unsurprisingly that was also a non-starte

[2017-03-10 01:00] DavidDudson commented on #735
What happens if you make the meta dependency compile time only? Does that actually work?

[2017-03-10 02:21] xeno-by opened #739 "Support for runtime reflection"
In 1.6.0, we already have some means of runtime reflection via offline mirrors (https://github.com/scalameta/scalameta/issues/607) and more functionality is scheduled to arrive in https://github.com/scalameta/scalameta/issues/609 and https://github.com/scalameta/scalameta/issues/612.

However, in addition to the API shared between compile-time and runtime reflection, it may be useful to also imple

[2017-03-10 04:28] deaktator commented on #739
This may be the wrong ticket to discuss this, but I'm wondering how much of the current `scala.reflect.runtime` (and `scala.tools.reflect.ToolBox`) code will be in Scala.meta.  Will there be a notion of toolboxes in Scala.meta?

I have a library ([Aloha](https://github.com/eharmony/aloha)) that uses runtime code generation and on-the-fly compilation to turn *quasiquote-like* statements into functi

[2017-03-10 07:08] cb372 commented on #735
No, I tried making it provided scope but it didn't help

[2017-03-10 10:01] DavidDudson commented on #735
Do you have a branch at all? I would like to experiment.

[2017-03-10 10:08] DavidDudson commented on #537
What out of this is now missing? @olafurpg can we split out the missing items into specific issues and close this?

[2017-03-10 10:34] DavidDudson opened #741 "Typeclasses surrounding Extract/Replace"
This is a task list ticket of work to be done (Or not, depending on whether it's deemed important).

Extractors:

Allows you extract key information from the structure.

- [ ] Defns (And subclasses)
- [ ] Stats
- [ ] Mods
- [ ] Annotations
- [ ] Names
- [ ] Decls
- [ ] Expressions (Lits/Loops etc.)

Replace:

Gives a very generic functionality to replace anything you can extract.

- [ ] Defns (And

[2017-03-10 13:08] cb372 commented on #735
There's not much to it, but here it is https://github.com/cb372/scalameta/tree/port-adt-macro-annotations

[2017-03-10 21:23] xeno-by commented on #517
This is no longer relevant due to https://github.com/lampepfl/dotty/pull/2050.

[2017-03-10 21:23] #517 closed

[2017-03-11 09:20] xavier-fernandez commented on #741
It would be really interesting to be able to extract Comments/Scaladoc as well, so we can use the `Extract` macro for obtaining also this classes, so the user does not need to learn the `AssociatedComments` and `ScaladocParser` API, only its AST.

[2017-03-11 09:46] DavidDudson commented on #741
@xavier-fernandez Hmm... I dont know much about the scaladoc tree api or Associated comments, could you give me some examples? Also Is there a spec of what exactly can have scaladoc?

[2017-03-11 11:28] xavier-fernandez commented on #741
Hi @DavidDudson, Scaladoc still doesn't have a tree API (Working on it).

But, take a look on:

https://github.com/scalameta/scalameta/blob/c37cb1cf2166b9696219fc888cafbcb6f18769f9/scalameta/contrib/src/test/scala/scala/meta/contrib/ScaladocParserSuite.scala

And:

https://github.com/scalameta/scalameta/blob/c37cb1cf2166b9696219fc888cafbcb6f18769f9/scalameta/contrib/src/test/scala/scala/meta/contr

[2017-03-11 17:45] olafurpg commented on #537
@DavidDudson We are safe to close this issue, I'm very happy to see `contrib` forming shape!

[2017-03-11 17:45] #537 closed

[2017-03-11 19:20] nairbv commented on #730
Can you explain the comment "The parser can only provide one error, this is true also for the compiler." ?

scalac certainly can return multiple error messages:

[code]

[2017-03-11 19:26] nairbv commented on #730
I see the scala compiler "ignores" the first unmatched closing brace "ignored here," but couldn't scala.meta do the same and return as many errors as the compiler would have?

With type information scalac also reports multiple errors, e.g.

[code]

Even if it doesn't right now, it seems like understanding types is a goal of scala.meta, so it seems like it would be helpful for the API to support re

[2017-03-12 21:51] DavidDudson opened #745 "Handle conversion from and to sets"
It is rather annoying convert an existing `Set[Tree]` into a `Set[Structurally[Tree]]`

We could:

Add a pimp for `Set[Tree]`.

I'm unsure of names at this point...

But we need to have something like

`set.usingEquality[Structurally]`

or perhaps if we ignore the typeclass approach

`set.structurally and set.syntactically` which might be easier on most users

[2017-03-13 05:30] DavidDudson commented on #741
@xavier-fernandez @olafurpg Would it be possible/useful to create an AST that supports the 3 comment types?

[code]

Where the text includes `\n`, but excludes any of the comment type specific tokens `/*` etc.
That way `.syntax` would show the type specific stuff, but it would allow people to analyze the comment contents and convert between the types of comments much easier?

[2017-03-13 05:47] DavidDudson commented on #741
@olafurpg We may need a 3rd category (That isn't provide)

You see, replace cannot be put in the same group as update.

This is because in the cases where we want to modify only a portion of the actual list, order must be different between the 2.

The cases are:
- `Stat` subtypes
- `Annotations`

For example, during update, we want to update in place, keeping the annotation/stat position. Which ma

[2017-03-13 09:12] olafurpg commented on #730
I wasn't aware that scalac could report multiple errors from the parser. Thanks for pointing that out.

I guess @xeno-by may be more qualified to answer how difficult it would be support the same in the meta parser.

[2017-03-14 09:37] olafurpg commented on #741
I say we allow it. I think this is a case where it's difficult to enforce things on the type-level. I suspect `.map`/`.collect`/`.flatMap` will be the most common operations on `Seq[T]`, which all preserve order.

[2017-03-14 21:03] xeno-by commented on #730
`syntaxError` in the scalac parser usually accumulates errors instead of bailing on the first one via exceptions.

As a result, non-trivial logic is required to restore from some errors, e.g. to move forward on missing braces etc. When porting the scalac parser to scala.meta trees, we removed that logic and never got to reviving it.

It seems that the revival is theoretically possible. However, it

[2017-03-16 01:38] nairbv commented on #730
Even if it's going to be a while and not be part of an immediate release, If it's definitely going to be part of the roadmap then I think it would be nice if there's an API designed in such a way that multiple errors can be returned in the future.  That way code can use the API now without worrying about breaking backwards compatibility later when multiple errors are available.

[2017-03-20 10:14] olafurpg opened #759 "Collect compiler messages after refchecks"
Following up on https://github.com/scalameta/scalameta/pull/749

The semanticdb does still not contain `-deprecation` warnings because they are emitted during refchecks.

[2017-03-20 10:16] olafurpg commented on #695
Done, https://github.com/scalameta/scalameta/pull/748 migrated the persistence format to protobuf.

[2017-03-20 10:16] #695 closed

[2017-03-23 15:49] olafurpg commented on #359
For those interested, I just opened a PR to port scala.meta to JS, see https://github.com/scalameta/scalameta/pull/761

The port includes everything in the main scalameta module and excludes scalahost, testkit and contrib.

[2017-03-23 17:10] olafurpg opened #762 "Avoid runtime type checks in TreeSyntax.Lit"
Scala.js does not support runtime type checks on a few primitives: https://www.scala-js.org/doc/semantics.html#runtime-type-tests-are-based-on-values

TreeSyntax uses this feature to pretty-print ` Lit` tree nodes: https://github.com/scalameta/scalameta/blob/25640d3fe827e2e8c9d5fef31d297d81eac3da4d/scalameta/trees/src/main/scala/scala/meta/internal/prettyprinters/TreeSyntax.scala#L403-L412

My att

[2017-03-24 17:18] xeno-by commented on #762
See https://github.com/scalameta/scalameta/pull/763

[2017-03-27 14:26] xeno-by commented on #739
@deaktator Scala.meta API is designed to be agnostic of the execution environment. In fact, our core use case right now - loading and utilizing a semantic db (https://github.com/scalameta/scalameta/issues/605) outside a compiler - requires some support for runtime reflection.

That being said, we don't have an implementation for runtime compilation yet, and neither we have a roadmap entry for that

[2017-03-27 16:19] olafurpg opened #765 "Expose simple method to get Input.File from Tree"
Following gitter discussions: https://gitter.im/scala/tooling-contrib?at=58d93b384cb8d09173307df1

[2017-03-27 20:04] olafurpg commented on #739
I might be tempted to take a stab at runtime compilation to use in scalafix (see https://scalacenter.github.io/scalafix/#Customrewrites). Currently, we use toolbox but it has limitations such as it doesn't allow `Package` and causes issues like https://github.com/scalacenter/scalafix/issues/101

I can't promise a timeline, but I'll probably take a look sometime in April.

[2017-03-27 20:24] deaktator commented on #739
Happy to take a look at it but I haven't looked too hard at the scala.meta code.

[2017-03-28 07:13] xeno-by commented on #739
I'd say we could add `Mirror.eval(tree: Tree): Any` (or, if we decide to be especially pure, we could introduce a dedicated capability for that).

The implementation would likely be similar to `eval` in the scala.reflect toolbox (https://github.com/scala/scala/blob/1706a37eb84ec252aea77bccebad3e48448534ad/src/compiler/scala/tools/reflect/ToolBoxFactory.scala#L203). We'd also need some glue code to

[2017-03-28 09:16] olafurpg opened #767 "Document role of each module."
- scalameta
- scalahost
- scalahost-nsc
- scalahost-sbt
- scalameta/paradise

I briefly explain a high-level vision of scalameta here: http://www.scala-lang.org/blog/2016/10/24/scalafix.html#how-does-scalafix-work Scalahost goes alongside paradise, paradise is only for macro whereas scalahost powers the semantic api too.

[2017-03-29 00:39] DavidDudson opened #770 "Crossbuild contrib for scalajs"
I don't see any real reason why we shouldn't.

[2017-03-29 00:48] DavidDudson opened #771 "Contrib tests are not run"
I believe this affects any module with tests, that has not been ported to a crossbuilt project.

sbt expects tests to be in src/test, but now they are in shared/src/test.

This means "contrib/test" will run 0 tests.
I presume this means CI is not currently running the contrib tests.

[2017-03-29 00:57] DavidDudson opened #772 "Port Scalameta to Scala Native"
Given that SJS support was just added, It seems like SN support should be somewhat trivial now that we are not platform specific. I could be wrong, so lets see what actually needs to be done.

Here are the scalameta dependencies

- [x] scalatest
- [x] scalapb
- [x] utest
- [x] sourcecode
- [x] fastparse

Further tasks:

- [x] Compile testsNative
- [x] Link testsNative
- [x] Remove the s/CLASS/CLAZ

[2017-03-29 00:58] DavidDudson commented on #772
@densh I'm sure you can answer a lot of these questions I have.

[2017-03-29 01:00] DavidDudson commented on #771
@olafurpg Side note. I'm ready to re-push the extract stuff. I just want to make sure the CI is building correctly first. I've been super busy writing a presentation among other things. I should have some time for meta in the coming days.

[2017-03-29 07:32] olafurpg commented on #771
Good catch! I will fix this asap by porting contrib to Scala.js.

I left contrib out because it depends on testkit which requires file IO to download zips and read files. I plan to move all tests to a `tests` projects.

[2017-03-29 07:37] olafurpg commented on #772
This was one big motivation for porting to Scala.js/crossProject. I already tested the waters by trying to build scalafmt against scala-native, which resulted in these linking errors https://github.com/scala-native/scala-native/issues/557

[2017-03-29 12:02] #770 closed

[2017-03-29 12:02] #771 closed

[2017-03-30 19:08] stuhood opened #777 "Semantic DB is not portable"
The semantic db currently stores absolute filenames:
[code]
... which means that the db isn't portable across machines/directories.

Inferring or allowing for configuration of a "source root" or "sourcepath" at compile time for a particular compile unit would allow for relativizing these paths. One approach that I've seen before is to attempt to strip the package name from the source filename, and

[2017-03-30 23:44] stuhood opened #778 "Off-by-one parse error"
Parsing the attached file
[Loggers.scala.txt](https://github.com/scalameta/scalameta/files/884082/Loggers.scala.txt) with `1.7.0-485-086c4ac9` results in a stack like the following:
[code]

[2017-03-31 06:53] swachter opened #780 "overlapping trees for annotation macro when code coverage is turned on"
A test project to reproduce can be found here: https://github.com/swachter/macro-scoverage

Compiling the macro annotation

[code]
with code coverage turned on using the command

[code]
yields an overlapping trees error:

[code]
Note: I do not know if this error is related to macros or to code coverage.

[2017-03-31 08:07] olafurpg commented on #780
Thank you for reporting! We merged this week a workaround for this issue https://github.com/scalameta/paradise/pull/183 You can try a pre-release version `3.0.0-184`
[code]
Please report back if that fixes the issue

[2017-03-31 08:42] swachter commented on #780
Thanks for the quick response!

I tried the pre-release (and pushed the changes to GitHub). Now I get a compilation error:

[code]

[2017-03-31 08:43] olafurpg commented on #777
One alternative approach would be to include the source file contents in semanticdb. We can use `Input.LabeledString` for that https://github.com/scalameta/scalameta/blob/13087aafb7e9db4d8926740fb86578bdd494ad6b/scalameta/inputs/shared/src/main/scala/scala/meta/inputs/Input.scala#L50 The schema can accommodate this change https://github.com/scalameta/scalameta/blob/13087aafb7e9db4d8926740fb86578bd

[2017-03-31 08:45] olafurpg commented on #780
Hmmm, I will take a look, thanks!

[2017-03-31 10:23] olafurpg commented on #780
I updated the meta dependency in paradise https://github.com/scalameta/paradise/pull/185 and that seems to fix the issue in macro-scoverage (tested with publishLocal).

Once that PR is merged you can try it out with 3.0.0-185, but note that you need to also upgrade the scala.meta dependency like here https://github.com/swachter/macro-scoverage/commit/97367ba8df41cb44952a30dbb43b148ef7d17eb1#diff-f

[2017-03-31 10:27] #780 closed

[2017-03-31 13:36] xeno-by commented on #778
@olafurpg I downloaded the file and ran the following app:

[code]

Surprisingly, everything worked correctly. Is there anything special about how scalafix invokes the scala.meta parser?

[2017-04-03 21:49] stuhood commented on #778
It looks like this is likely related to static caches in scalameta or scalafix. It only occurs on the second run of scalameta/scalafix after edits to a file have made the file shorter.

[2017-04-04 09:06] olafurpg commented on #778
That sounds likely, I suspect the culprit might be `megaCache` then https://github.com/scalameta/scalameta/blob/5413739ef52e517f5cf876ee87b617ddfa097396/scalameta/tokenizers/jvm/src/main/scala/scala/meta/internal/tokenizers/PlatformTokenizerCache.scala#L15 I've always been sceptical of that one, and I think it may be the cause of errors like https://github.com/scalameta/scalafmt/issues/850

[2017-04-04 17:12] xeno-by opened #782 "Improve autodetection of scalahost-nsc"
In principle, we should be able to assemble the scalahost-nsc jar on the fly from scalahost-core and its dependencies.

[2017-04-05 00:42] stuhood opened #784 "Semantic DB is not loaded from inside a jar on the classpath"
A `semanticdb` file located inside a jar on the classpath passed to an offline Mirror is not loaded.

[2017-04-05 16:28] olafurpg opened #787 "Auto-publish tutorial on merge to master"
The tutorial (https://github.com/scalameta/tutorial) currently uses an old scala.meta version. It's also annoying to update the tutorial because of version sync problems, see https://github.com/scalameta/tutorial/pull/9

I suggest we move the tutorial contents and host them on `scalameta.org`. I'm personally a big fan of having a single fat webpage with all docs (search with Cmd+F), currently it's

[2017-04-05 20:00] DavidDudson commented on #787
I would welcome this change!

[2017-04-05 20:08] olafurpg commented on #787
@xeno-by any objections to put the tutorial on the scalameta.org page? We could also put it under scalameta.org/tutorial.html, that might scale better if we want to add more pages later.

[2017-04-06 17:29] xeno-by opened #788 "Incorrect dependencies of scalahost-nsc"
[code]

Problems:
  1) `scalahost_2.11.9` shouldn't be there, because `scalahost-nsc` is supposed to be a fat jar (and it is).
  2) `scala-compiler` should be there, because the fat jar isn't supposed to include the compiler.

[2017-04-08 02:02] DavidDudson commented on #714
Notes:

I originally having the use as something like `q"Foo".phase[Typer].show[Syntax]`.

We could also compare structural equality this way too. thus optimizing comparisons beetween to bits of code.

Tree's generated by `-Xprint:$phase` are not reparsable into meta tree's (Due to `<>` not being valid pretty much everywhere).

We can either:

A. scrap structural equality, and just have `q"Foo".sh

[2017-04-08 02:07] DavidDudson opened #791 "Support showing decompiled Java code"
Relating to #714 and #715  It makes sense to include decompiled sources.

For example, it would be really handy for the talk I am writing currently, to show how implicit resolution works, and how encapsulation works under the hood.

When giving demo's etc. showing java source is a 3 step process involving the file system. It would be nice to do everything in memory and just write

`q"case class Pe

[2017-04-08 02:11] DavidDudson commented on #467
@xeno-by @olafurpg Do we have any thoughts on this yet? Whether a dedicated operator would be useful? It could go into contrib for a start possibly?

[2017-04-09 09:42] DavidDudson commented on #735
@cb372 I believe the problem is the `provided` exports the dependency as a runtime dependency. What we really want is a compile time only dependency, which SBT does not support out of the box (As it mimics maven).

Also, `scalameta/paradise` can expand old macros aswell as new ones, so instead of the `enable macros` configuration we will need to have a custom one. We will not be able to have `scal

[2017-04-10 09:47] DavidDudson commented on #741
@olafurpg That's not what I am talking about. A complete replacement of stats implies that it is up to the user to make sure those stats are in a valid order.

The example im talking about is...

[code]

[code]

are actually both order dependant.

It does not make sense inside the stat list of a `Defn.Val/Var/Def` to change order ever.
Unless the user is replacing all stats. However inside a `Defn

[2017-04-10 09:50] DavidDudson commented on #359
@olafurpg is there anything left for scalajs support?

[2017-04-10 09:55] DavidDudson commented on #295
https://github.com/scalameta/scalameta/issues/735 will help with this, but we will still need to wait for def macros. If we can build all of the macros with meta, we may be a step closer.

[2017-04-10 09:56] olafurpg commented on #359
@DavidDudson I don't think so, I guess we're safe to close this ticket then 🎉

There are some improvements that can be added to the Scala.js support, what comes to mind:

- Node.js file IO support in the `io` modules
- testkit on Scala.js (for example `StructurallyEqual` should migrate automatically, file IO is needed the syntax analysis)

[2017-04-10 09:56] #359 closed

[2017-04-10 22:41] Jentsch opened #793 "ScaladocParser swallows comments symbols within code blocks"
While playing around with the upcoming Scaladoc parser I found a behaviour that I would classify as a minor bug.

Given I have Scaladoc where within a code block a comment is used like here:
[code]
Then the ScaladocParser.parseScaladoc should return a Codeblock that includes the slashes (//).

I'm pretty sure the Bug is within the ScaladocParser and its interaction with [CommentOps](https://github

[2017-04-11 07:53] olafurpg commented on #793
Thank you for reporting! @xavier-fernandez, can you take a look?

[2017-04-11 08:13] Jentsch commented on #793
I may found a fix and created PR #794

[2017-04-11 14:49] olafurpg commented on #787
I took a quick stab at this and hit on a few bumpers:

1. we can't demo macros with the build version of scala.meta because macros depend on paradise which depends on a released scala.meta version.
2. all the example code (rewrites/macros) has red squiggly marks in IJ, which is a bad experience for users who clone the repo to try them out

I suggest instead that we keep the docs in the tutorial re

[2017-04-11 14:54] olafurpg commented on #735
Just a thought, maybe we could use the coursier shading plugin to bootstrap https://github.com/coursier/coursier/releases/tag/v1.0.0-RC1

[2017-04-11 15:35] olafurpg commented on #741
Why is the return type `this.type`? I would expect it to return a new immutable value.

Do you have a WIP branch @DavidDudson that I can take a look at? I'm not sure I follow exactly the ordering problem. The way I see it, if the user wants to replace `b` with `d;e` in

[code]
then that will become

[code]

But I think I'm misunderstanding the problem.

[2017-04-11 16:50] Jentsch commented on #793
Indention in code block seems to vanish, too.
[code]

produces a Codeblock with:
[code]
instead of
[code]

[2017-04-11 19:24] #793 closed

[2017-04-12 10:46] DavidDudson commented on #741
Ah I see the confusion. `def replace[A](a: A): this.type` written before we switched from `Seq[A] to just A`.

So the signature of implicit method replace is actually `def replace[A](a: Seq[A]): this`

I mean `this.type` as in if it is called on a `Class`, it returns a `Class` etc.

It's issue like the below...

[code]

replacing all vals with another list of vals in this would change the semantic

[2017-04-12 18:35] DylanLukes opened #798 "Reemitted Defn.Val's in traits discard backquotes in identifiers"
## Summary

Literal identifiers degrade to unquoted identifiers when reemitted by `StaticAnnotation#apply`.

This causes unexpected syntax errors when using fields with literal identifiers.

@olafurpg suggested the issue may be related to this line: https://github.com/scalameta/scalameta/blob/b269cd87de10be0b54056609b4777f79e77165e7/scalahost/core/src/main/scala/scala/meta/internal/scalahost/conve

[2017-04-12 18:40] DylanLukes commented on #798
Confirmed this also occurs for other statements.

[code]

This will break any class, object, trait, etc it is applied to with backquoted vals.

[2017-04-13 07:57] CremboC commented on #765
Is there any particular reason why not just expose
[code]
under `scala/meta/internal/ast/InternalTrees.scala` as you suggested in the gitter conversation?

Obviously since the input can be many places, it cannot (and shouldn't) return only an `Input.File`.

[2017-04-13 07:59] DavidDudson commented on #765
What if there's no tokens?  Does parsing an empty file explode on the head call?

[2017-04-13 08:02] CremboC commented on #765
[code]
resulted in
[code]

`Empty.scala` is 0 bytes (completely empty)

[2017-04-13 08:07] olafurpg commented on #765
There is an Input.None, and trees like `Term.Name("a")` have `VirtualInput`.

This issue is in particular about exposing a simple utility for getting an `Option[Input.File]`, we could add it in contrib.

[2017-04-13 08:10] DavidDudson commented on #765
Perhaps we could add both input and inputFile methods

[2017-04-13 13:49] xeno-by commented on #787
Sounds awesome! Sorry for the late response.

Do you still want to have the tutorial on the main page?

[2017-04-14 14:59] olafurpg commented on #787
I believe the tutorial/docs need to be in a separate repo, because of the reasons I mentioned above. I've updated the title to be about auto-publishing the tutorial on merge to master.

[2017-04-14 15:08] olafurpg opened #799 "Provide umbrella "syntactic" module"
Currently, the main scalameta module transitively depends on scalapb and protobufs because the semantic module uses protobufs for persistence of the semantic DB. For applications like scalafmt that don't use the semantic module, it's a bit annoying to either

1. pull in such large dependency or
2. pick custom modules like parsers/quasiquotes and miss the `import scala.meta._` import

It would be n

[2017-04-14 22:55] olafurpg opened #801 "Helper method: `Type.Arg.toType`"
See http://stackoverflow.com/questions/42301941/scala-meta-type-mismatch-when-unquoting-found-optionscala-meta-type-arg-req

I've been bitten on this myself, it could be implemented this way

[code]

EDIT. removed `case impossible` line

[2017-04-15 08:34] CremboC commented on #801
Any particular reason to use `case impossible => ???` instead of `case _ => ???`? Would avoid pointlessly allocating a variable.

P.S.
Sorry if this is not contributing much to the question here..

[2017-04-15 09:47] olafurpg commented on #801
@CremboC Just to highlight that this case should never happen, I should probably just remove it. I don't think it allocates, it becomes something like `val impossible = arg`

[2017-04-15 11:10] olafurpg commented on #741
How about?

[code]
The user can then choose any collection manipulation (map, flatMap, collect, filter). The real
value in `update` is IMO that it handles the `.copy` for nested cases like `Defn.Class`.

Is `replace` necessary? I feel like it can be implemented in terms of update with `.replace(_ => ???)`. We should try to get away with as little vocabulary as possible.

[2017-04-15 13:31] ShaneDelmore commented on #801
If we hit a case that should be impossible I will be most concerned with eliminating confusion, allocating a variable before I crash is not really what I am worried about. I vote to keep it or something else that conveys more meaning than _ like thisLineShouldNeverBeReached.

[2017-04-15 13:34] xeno-by commented on #801
In some parts of scala.meta, we use `org.scalameta.unreachable`, possibly in conjunction with `org.scalameta.debug` to indicate just that, e.g. https://github.com/scalameta/scalameta/blob/v1.7.0/scalameta/parsers/shared/src/main/scala/scala/meta/internal/parsers/ScalametaParser.scala#L148.

[2017-04-16 18:05] olafurpg commented on #787
I cleaned up the tutorial repo considerably in https://github.com/scalameta/tutorial/pull/13 and I've setup auto-publish docs on merge into master.

[2017-04-16 18:05] #787 closed

[2017-04-16 18:07] olafurpg opened #802 "Document new features"
With #787 finished, it would be nice to add sections explaining

- [x] scalahost
- [x] Mirror
- [x] sbt-scalahost
- [x] contrib

[2017-04-16 23:19] DavidDudson commented on #741
@olafurpg Okay. we need clarification here.

Replace is the mechanism in which everything works off. Replace is the main typeclass (The part that deals with replacing `Seq[A]` with another `Seq[A]`.

The idea behind update is it *retains* order for sybtypes. So by applying a function `A => A` to say Defn.Def, we can retain the order inside the stat list.

[code]

[2017-04-16 23:21] DavidDudson commented on #741
Although I am tempted to make update `A => Option[A]` so you can remove elements

[2017-04-18 09:09] olafurpg opened #804 "Defn.hasMod(mod): Boolean"
Currently, the most concise way to test if a defn has a modifier is

[code]

it would be nice if it was possible to write that as

[code]
instead.

[2017-04-18 09:30] xavier-fernandez commented on #804
Will take a look to this during this week :)

[2017-04-18 09:44] DavidDudson commented on #804
it should just be an implicit on https://github.com/scalameta/scalameta/blob/master/scalameta/contrib/shared/src/main/scala/scala/meta/contrib/implicits/ExtractExtensions.scala

This is also an item on https://github.com/scalameta/scalameta/issues/741

[code]

Should be all that's needed i believe

[2017-04-18 09:46] olafurpg commented on #804
@DavidDudson Good catch! I didn't notice the `.has` helper, I like that syntax. Closing as dupe of #741

[2017-04-18 09:47] DavidDudson commented on #804
@olafurpg I like the name hasMod though, for clarity

[2017-04-18 09:54] olafurpg commented on #804
which do you prefer between `hasMod[Mod.Inline]` and `has[Mod.Inline]`? The duplicate `Mod` strikes out IMO.

[2017-04-18 12:38] DavidDudson commented on #804
@olafurpg how about.... `has[Mod.Inline]` and `hasAnnot("Foo")`

I think we may be able to make `has` even more generic (But I am not sold on the idea just yet)....

`has[Defn.Def]` vs `extract[Defn.Def].nonEmpty` might make sense too.

[2017-04-19 18:36] olafurpg commented on #804
I'm not sure about `hasAnnot(String)`, since annotations can also have type + term arguments.

We are hitting on grey territory with `extract.exists`, IMO. I would like to limit vocabulary as possible. My motivation for `hasMod` was to expose a parallel to scalac's internal `.hasFlag`, which is often handy.

I'm leaning again towards this signature,

[code]
it handles annotations (even with argume

[2017-04-20 06:04] ShaneDelmore commented on #804
How many options are there?  Has[Mod....] makes me wonder what other types I can stick in there, where is the list to enumerate. Once I find the possible answers it reads cleanly. HasMod makes me think if I want to know what types I can look for I should enter .has then wait for auto-complete to show all of the the things I can check for. No opinion on the matter, just sharing how I might look at

[2017-04-20 06:05] stuhood opened #806 "No Symbols for `Ctor.Ref.Name`"
For scalahost `1.8.0-520-f6d600cd.1492126021620` and code like:
[code]
...the `Ctor.Ref.Name` representing the constructor call does not have a symbol attached, and throws (verbatim):
[code]

[2017-04-20 06:44] stuhood commented on #806
Whoops! False alarm. It looks like this was the constructor definition instead... ie:
[code]

[2017-04-20 06:57] stuhood commented on #806
I think I remain confused as to how to get the proper Symbol for a constructor though... the Symbol for a `Ctor.Ref.Name` at a callsite seems to be the Symbol for the constructor's class, rather than the constructor itself.

[2017-04-20 08:31] olafurpg commented on #804
It's possible to autocomplete on the available values with `Mod.<autocomplete>`, see https://github.com/scalameta/scalameta/blob/dbb30b57adf148f91bddf1370a531673fb39fc72/scalameta/trees/shared/src/main/scala/scala/meta/Trees.scala#L489-L510

[2017-04-20 08:39] xavier-fernandez commented on #804
Cool, will implement this today.

I was thinking in an approach similar to:

[code]

I should proceed?

[2017-04-20 08:41] olafurpg commented on #804
LGTM 👍 I'll re-open this issue then

[2017-04-20 09:29] densh commented on #772
@olafurpg Most of the linking errors from that list are done now, we should retry and see if there is anything missing still.

[2017-04-20 15:13] #804 closed

[2017-04-20 15:40] ShaneDelmore commented on #804
@olafurpg To clarify, my question would not be what types of Mod can I look for, it would be what types of things besides Mod I can look for. Has[Param]? Has[DeclTpe]? For example.

[2017-04-20 21:01] xeno-by commented on #605
This ticket was created to provide a specification describing the format of semantic databases + a forum to discuss features that should be supported. I planned to update the ticket as our implementation evolved and engage in discussions from the community.

I think that by now both of this goals have already been achieved.

First, for quite a while now we have a protobuf schema that describes the

[2017-04-20 21:01] #605 closed

[2017-04-20 21:08] xeno-by commented on #433
According to our new vision, this should probably be a standalone CLI app that takes classpaths emitted by javac or scalac 2.x and converts them to the semanticdb format.

[2017-04-20 21:09] xeno-by commented on #435
According to our new vision, this should probably be a standalone CLI app that takes classpaths emitted by dotc and converts them to the semanticdb format. Some initial work in that direction is undertaken in collaboration with EPFL.

[2017-04-21 03:20] DavidDudson commented on #804
@ShaneDelmore There is no typeclass for `Has`.

We could make one if there was enough want, the only reason I can forsee it being useful is efficiency

`q"class Foo()".extract[Defn.Def].nonEmpty`

would be equivalent to

`q"class Foo()".has[Defn.Def]`

[2017-04-21 05:03] ShaneDelmore commented on #804
So the only thing that can go inside the brackets in has[...] is Mod.someMod?  I feel like I am missing something. I will go back and read the code. I think I lost the thread over the course of this conversation.

[2017-04-21 05:06] ShaneDelmore commented on #804
I was thinking of has[Defn.Def] and if there were many other things that could be placed there. If it's really only Mod then I would lean very strongly towards hasMod. I think anytime you accept a type parameter it hints strongly to the caller of the API that this is generic and that there are many things has can check for the presence of.

[2017-04-21 05:22] DavidDudson commented on #804
@ShaneDelmore The final implementation (That was merged) does not use a type parameter.

`q"case class Foo".hasMod(mod"case")` in the intended use (or `q"case class Foo".hasMod(Mod.Case)`)

Implementing it this way allowed for annotation support.

`q"@Bar class Foo".hasMod(mod"@Bar")`

The only reason this exists is to have similar behaviour to `hasFlag` in scalac. It also is quite nice because it

[2017-04-21 06:48] fommil commented on #605
Cool!

[2017-04-21 07:33] olafurpg commented on #804
I agree. I don't have a concrete solution in mind, but I think we should try to make a clear separation between recursive tree traversals and iterations on sequences.

[2017-04-21 09:09] olafurpg commented on #777
Related https://github.com/scalameta/scalameta/pull/808#pullrequestreview-33947891 I would be interested to hear your opinion @stuhood on what do with `Anchor` and adding a `contents` field to `AttributedSource`

[2017-04-21 19:50] xeno-by opened #809 "Post ScalaDays Chicago 2017 talk highlights at scalameta.org"
In order to do that, I need to figure out where I'm storing the slides. scalamacros.org doesn't cut it, and our scalameta.org infrastructure doesn't yet support static files.

[2017-04-21 19:52] olafurpg commented on #809
Put the pdf under readme/resources, that should be enough to host static
files on scalameta.org
On Fri, 21 Apr 2017 at 21:50, Eugene Burmako <notifications@github.com>
wrote:

[2017-04-21 20:13] xeno-by commented on #809
https://github.com/scalameta/scalameta/pull/810

[2017-04-21 20:13] #809 closed

[2017-04-21 23:24] DavidDudson commented on #804
@olafurpg My only thought is having a "view" of some kind for iterations on sequences. Because then at least we can use the same method names if we want. But I don't have a good idea of this

[2017-04-22 15:02] iTakeshi opened #811 "Parentheses on constructor annotation"
Question: Why the scalameta parser ignores parentheses appended to constructor annotations?

Use case: In a playframework-2.6 application, I'd like to expand some controllers which use dependency injection, i.e.
[code]
However, it will be expanded into:
[code]
and this results in a compilation error.

Cause: In https://github.com/scalameta/scalameta/blob/master/scalameta/parsers/shared/src/main/sc

[2017-04-22 15:09] olafurpg commented on #811
Are you using inline/meta macro annotations? If so, the problem is probably in LogicalTrees https://github.com/scalameta/scalameta/blob/master/scalahost/core/src/main/scala/scala/meta/internal/scalahost/converters/LogicalTrees.scala

LogicalTrees may be going away soon soon (see  https://github.com/scalameta/paradise/issues/194 and #808) in favor of a more robust approach that makes it easier to p

[2017-04-22 15:54] iTakeshi commented on #811
Indeed I use inline/meta macro, but the cause is really in LogicalTrees? I just read the source now, but got no idea about where the parentheses is removed.

[2017-04-22 16:08] olafurpg commented on #811
Inline/meta macro annotations don't use the scala.meta parser, they use LogicalTrees to convert between scala-reflect trees and scala.meta trees. The motivation behind https://github.com/scalameta/paradise/issues/194 to get rid of the inherent complexity of LogicalTrees. I spent a significant amount of time making sure the converter preserves all syntactic details in the original source and we hav

[2017-04-22 16:41] iTakeshi commented on #811
Thanks for comprehensive explanation. I've try that test (`syntactic("class Foo @Inject() (cc: ControllerContexts) extends AbstractController(cc)")`). It passes when `allowArgss == false` (as in this repository), and actually, it fails when `allowArgss == true`. My suggestion was completely wrong, sorry about that.

I decided to use some work-around implementations and wait for you to move to scal

[2017-04-22 16:41] #811 closed

[2017-04-22 17:07] olafurpg commented on #772
@densh I just opened https://github.com/scalameta/scalafmt/pull/898 porting scalafmt-core to Scala.js. We can work from that branch to try build scalafmt with native, I don't suspect we won't hit on any linking errors in core, but maybe we need more work in scalafmt-cli.

I will try to look into porting to native tomorrow.

[2017-04-23 12:11] olafurpg opened #812 "Support file IO on Node.js"
It's currently unsupported to read files on Scala.js because browsers don't support file IO. However, file IO is possible on Node.js with the `fs` module https://nodejs.org/api/fs.html See http://bchazalet.github.io/2015/07/20/scalajs-electron-skeleton-part-2/ for an example how `fs` can be used from Scala.js. It would be nice to add file IO support in Node.js for the scala.meta `io` module. Why?

[2017-04-24 16:09] olafurpg opened #813 "contrib should not depend on testkit!"
See https://github.com/scalameta/scalameta/blob/cb5dd112079b37cb3d874a337230cfde25682847/build.sbt#L336 My bad y'all, I probably forgot `% Test` 😞

[2017-04-24 16:46] olafurpg opened #814 "OfflineMirror should not crash when sourcepath contains non .scala files"
If sourcepath contains a file like GetResult.fm that is not valid scala code then it crashes like this
[code]

[2017-04-25 04:51] stuhood commented on #777
@olafurpg : I don't really have an opinion on `Anchor` vs `Location` vs `Position`, as they all seem to be shaped approximately the same way, and I don't really know why they might have been split in the first place.

With regard to adding the complete contents of the file to the database: it seems more durable, and might make things easier in the context of build systems that don't have an accura

[2017-04-25 10:09] olafurpg commented on #777
@stuhood Interesting. I agree that the problems of 1) relativizing paths and 2) including source contents in the semanticdb are orthogonal issues.

I think that adding a "source root" field to the [`Database` message](https://github.com/scalameta/scalameta/blob/cb5dd112079b37cb3d874a337230cfde25682847/scalameta/semantic/shared/src/main/protobuf/semanticdb.proto#L6) is a good solution to 1). That s

[2017-04-27 01:11] stuhood commented on #777
I'm pretty sure that goes back to the root issue with the ticket: the database would contain an absolute path, and thus wouldn't be portable.

Now, on the other hand, if the sourceroot value was a required option at both compile and mirror-use time, I expect that it would work fine.

[2017-04-27 11:49] olafurpg commented on #772
I am super excited to confirm that scalafmt links with scala-native 0.2!

![scalafmt-native](https://cloud.githubusercontent.com/assets/1408093/25481965/f4d2da18-2b4f-11e7-91df-125f818ab82e.gif)

Getting it to work only required removing a single `Enumeration` in the scalameta parser since it seems those use runtime reflection. The rest was simple build changes.

[2017-04-27 12:33] olafurpg opened #815 "scala.meta.semantic.v1.Signature alias missing in scala.meta package object"

[2017-04-27 13:06] xeno-by commented on #772
Amazing news! Can we get these changes in? Is the entire test suite
crosscompiling?

On Thu, 27 Apr 2017 at 04:49, Ólafur Páll Geirsson <notifications@github.com>
wrote:

[2017-04-27 13:08] olafurpg commented on #772
I didn't run the test suite, first we would need to get cross-built versions of these libraries released

- [ ] scalatest
- [ ] utest
- [ ] sourcecode
- [ ] fastparse
- [ ] scalacheck?

[2017-04-27 14:04] olafurpg opened #816 "Reorganize docs"
Currently there's

- http://scalameta.org/
- http://scalameta.org/tutorial
- https://github.com/scalameta/sbt-semantic-example (see readme)
- https://github.com/scalameta/scalameta/blob/master/notes/quasiquotes.md
- https://github.com/scalameta/sbt-macro-example

It would be nice if these documents were available from a single page.

I propose that we

1. rename tutorial to `docs` so that it will

[2017-04-27 14:07] olafurpg opened #817 "Build is red"
see https://platform-ci.scala-lang.org/scalameta/scalameta/162/1
 http://scalameta.org/talks/2017-04-21-SemanticToolingAtTwitter.pdf is a 404

[2017-04-27 14:13] ShaneDelmore commented on #816
I find myself constantly referring to the quasi quote table. I like the idea of putting it right in the main doc.

[2017-04-27 23:05] xeno-by commented on #817
Fixed

[2017-04-27 23:05] #817 closed

[2017-04-27 23:05] xeno-by commented on #816
Great points! Thanks for assembling them, they will be very useful.

[2017-04-27 23:06] xeno-by commented on #772
@densh Can you comment on what it would take to support these libraries?

[2017-04-28 01:55] xeno-by commented on #777
@olafurpg, thanks a lot for writing down your proposal. This is what I was aiming to achieve in Chicago, but I ultimately backed down because I didn't have time to flesh out the details.

upd. I'll finish this comment later today or tomorrow. I have something that I believe is quite elegant, but still needs refinement.

[2017-04-28 12:32] densh commented on #772
I have no data on scalatest as they have rather complicated build that's not easily migratable to native.

utest/sourcecode/fastparse seem to have enough APIs implemented in 0.2 already. We can't run the tests automatically from the sbt yet due to https://github.com/scala-native/scala-native/issues/339, but @Duhemm might have time to look at it in 0.3 milestone.

Scalacheck should be either workin

[2017-04-29 18:59] olafurpg opened #819 "Bug in interpolator with escape quotes"
[code]

[2017-04-30 04:25] xeno-by opened #821 "Monads vs exceptions for error handling"
This is a long-standing debate between @densh (monads) and myself (exceptions). Some time ago, @olafurpg joined the fun on Denys's side.

The debate basically boils down to: "for which APIs do we represent errors in type signatures?". A related question is: "if we use types, then which ones?".

[2017-04-30 04:47] DavidDudson commented on #821
My opinion is all should use Monads.

I quite like macro failures throwing exceptions, but only because it's compile time only.

Do we have a list of Api's and what exceptions the can throw?

[2017-04-30 04:58] xeno-by commented on #821
The immediate motivation for filing this ticket is the discussion in https://github.com/scalameta/scalameta/pull/808.

As mentioned in one of the reviews of the pull request, invoking `AbsolutePath.apply(path: String)` can result in an error if `path` is not absolute. How do we represent this error?

In the pull request, I specified the return type as plain `AbsolutePath` and then had the body of

[2017-04-30 04:59] xeno-by commented on #821
@DavidDudson I don't know of such a list. We do explore our API surface in https://github.com/scalameta/scalameta/blob/master/scalameta/scalameta/jvm/src/test/scala/scala/meta/tests/api/SurfaceSuite.scala, but not to that extent. It would be an interesting exercise to pursue.

[2017-04-30 05:03] xeno-by opened #822 "Semantic information for Database.sugars"
#808 introduces a prototype implementation of infos and sugars that represents these introspection artifacts as strings. It turns out it's not that outrageous, because even strings can be extremely useful for code analysis tools.

However, we clearly need to provide more information to our users. Representing both infos and sugars as full-fledged trees sounds like a good idea.

[2017-04-30 05:05] #610 closed

[2017-04-30 05:05] #782 closed

[2017-04-30 05:05] #784 closed

[2017-04-30 05:06] xeno-by commented on #610
As described in #808, we're giving up on the unicorn semantic API. As a result, I'm closing this issue as won't fix.

[2017-04-30 05:07] xeno-by commented on #621
As described in #808, we're giving up on the unicorn semantic API. As a result, I'm closing this issue as won't fix.

[2017-04-30 05:07] #621 closed

[2017-04-30 05:07] xeno-by commented on #623
As described in #808, we're giving up on the unicorn semantic API. As a result, I'm closing this issue as won't fix.

[2017-04-30 05:07] #623 closed

[2017-04-30 05:08] xeno-by commented on #608
As described in #808, we're giving up on runtime typechecking. As a result, this API becomes impossible to implement, so #808 removes it.

[2017-04-30 05:09] xeno-by commented on #788
Fixed via https://github.com/scalameta/scalameta/pull/808.

[2017-04-30 05:10] xeno-by commented on #815
Fixed via https://github.com/scalameta/scalameta/pull/808.

[2017-04-30 05:10] #815 closed

[2017-04-30 05:12] xeno-by commented on #666
Fixed via https://github.com/scalameta/scalameta/pull/808

[2017-04-30 05:12] #666 closed

[2017-04-30 05:14] xeno-by commented on #609
As described in #808, we're giving up on the unicorn semantic API, proclaiming `scala.meta.semantic.v1` as the one and only semantic API. As a result, I'm promoting this issue from "Rudimentary functionality to ..." to just "Functionality to...".

[2017-04-30 05:14] xeno-by commented on #814
Fixed via #808.

[2017-04-30 05:14] #814 closed

[2017-04-30 05:14] #788 closed

[2017-04-30 05:15] xeno-by commented on #806
Looks like a duplicate of https://github.com/scalameta/scalameta/issues/655

[2017-04-30 05:15] #806 closed

[2017-04-30 05:16] xeno-by commented on #271
The original API is no longer there, so I'm closing this issue.

[2017-04-30 05:16] #271 closed

[2017-04-30 05:17] xeno-by commented on #286
As described in #808, we're giving up on runtime typechecking. As a result, the question posed in the title of this issue becomes moot.

[2017-04-30 05:17] #286 closed

[2017-04-30 07:21] DavidDudson commented on #821
@xeno-by I do like your reasoning, but here's my take.

Exception types:
- SO/OOM are almost always fatal errors, no one should ever try and catch them (Unless they really know what their doing)

- NPE should never be thrown in the first place, having a value possibly `null` anywhere seems like a red flag to me, one that idiomatic Scala avoids. So you should never have to catch it. (Options/Either

[2017-04-30 12:17] olafurpg commented on #821
The root of this discussion is really about exceptions vs. "document errors in
the type" for error handling.  Monad has a very specific meaning, I prefer not
to get into that discussion.

There is no silver bullet for error handling. Sometimes you want
- end the world/fatal: exceptions
- fail on first error:
  - No message: Option[T]
  - Custom message: Either[Msg, T]
  - Don't know exact type of

[2017-05-01 05:41] xeno-by opened #824 "Carefully prepare migration guidelines for 1.8.0"
Recent refactorings were too massive to create deprecation notices / update changelog with migration guidelines. This means that we should take an especially good look at this aspect of the upcoming release.

[2017-05-01 18:45] xeno-by opened #827 "Tests for standalone reading/writing semantic dbs under JVM/JS"
Creating a note for myself in order not to forget to do this.

[2017-05-02 08:43] liufengyun opened #829 "Parsing of function with unquotes throws exception"
With the following code:

[code]

The parser generates an error message:

[code]

[2017-05-02 19:39] #356 closed

[2017-05-03 08:44] olafurpg opened #830 "Missing denotation for case class unapply"
This code here

[code]

has database

[code]

Observe that `A.unapply` has a denotation but `Foo.unapply` does not. It would be nice if we could get the denotation for the compiler generated `Foo.unapply`

[2017-05-03 09:04] DavidDudson opened #831 "Having to use the copy method is restrictive"
For example, if you want to do something like map over all `Members` and prefix their name with `m_` it is actually really hard.

There's 2 levels to this problem.

1. We have no idea what subtype of `Name` the `name` field references.
2. We have no idea what subtype of `Member` the actual member is.

This means we cannot create new versions of these tree's.

Solutions:

I believe the only solutio

[2017-05-03 12:33] liufengyun opened #833 "Quasiquotes: Incorrectly wrap splice in blocks"
In scalac quasiquotes, there's no braces around `elements`. I think this is a bug in scala.meta.

[code]

[2017-05-03 20:51] xeno-by commented on #833
Looks like a bug indeed.

[2017-05-05 08:53] vpavkin opened #834 "Loss of lambda parameter type"
I have some code of this structure:
`(_: T) => something`

Here I help the compiler to infer the parameter type.

For some reason, scala-meta emits this code without the type helper:
`_ => something`

[2017-05-05 09:03] vpavkin commented on #834
@olafurpg cool, thanks for quick response!
Sorry for reporting a duplicate :) Feel free to close it now or when fix is officially released

[2017-05-05 09:25] olafurpg commented on #834
No worries :) this just got fixed only last Monday and the bug was never reported directly, only discovered when fuzzing the pretty-printer in https://github.com/scalameta/scalameta/issues/567

[2017-05-05 09:25] #834 closed

[2017-05-05 18:51] olafurpg opened #836 "Assertion error in `toAnchor`"
Compiling
[code]
with scalahost triggers an assertion error https://gist.github.com/allanrenucci/83db9369e47fd3eb3d1a599c598dc7d5

[code]

Discovered at https://github.com/scalacenter/scalafix/pull/146

[2017-05-05 20:41] xeno-by commented on #836
I need to get my Anchor removal pull request in asap.

[2017-05-06 09:06] olafurpg opened #837 "Unexpected symbol for desugared .apply"
The code
[code]
has the following semanticdb
[code]

It would be great if we could query from the call-site `foo` and get the denotation `_root_.autotuplingwithlambdas.tup.foo. => val foo: ((Int, Boolean)) => (Int, Boolean)`

Discovered in https://github.com/scalacenter/scalafix/pull/143

[2017-05-07 23:34] xeno-by opened #838 "Lack of support for pre-1.8 JDK"
This was reported by @Duhemm in https://gitter.im/scalameta/scalameta?at=590f7891631b8e4e61b0c8a3:

[2017-05-07 23:37] DavidDudson commented on #838
Can we also get a CI build for this to prevent future regressions?

[2017-05-08 09:38] olafurpg commented on #838
We stopped testing jdk <=7 after supporting 2.12, we could test 2.11 on jdk 7 using a different docker image here https://github.com/scalameta/scalameta/blob/2128ff7b233aafb797c8c1b9bc747a67e10efab4/.drone.yml#L15

cc/ @jvican what do you think about adding a scalaplatform/scala_jdk7 (or similar name) docker image? I'm happy to build it and publish myself

[2017-05-08 09:57] jvican commented on #838
Sounds good @olafurpg! This is the repository I used to cut the current docker images: https://github.com/scalacenter/drone-docker-sbt.

[2017-05-08 12:08] gabro opened #839 "Imprecise warning messages for unused members of selective imports"
With reference to https://github.com/scalacenter/scalafix/pull/152#issuecomment-299727017

Given this code:

[code]

scalameta produces the following semantic db:

[code]

Notice the single warning message referring to the whole import statement. The expected result would instead be multiple error messages referring to the separate members that are unused.

[2017-05-08 17:25] dispalt opened #840 "Add configuration support for macros"
Would it be possible to get some sort of support for `-Xmacro-settings:foo=bar` for annotations?  My use case is I have an `sbt` plugin and I need to get some settings information from that plugin (aka sbt settings) to the macro annotation.  I'd prefer not to have to do some hackery with `sys.props` to get it to work.

Also if it would work where I could do `scalacOptions += "-Dfoo=bar"`, than tha

[2017-05-08 18:28] xeno-by commented on #840
See my comment on Olaf's stackoverflow answer.

[2017-05-08 19:13] dispalt commented on #840
I don't have enough stackfu to respond, but I've tried this:

[code]

to no avail.

My current workaround which I think will get messed up for multiple projects is this monstrosity:

[code]

[2017-05-09 08:58] olafurpg commented on #840
Thanks for sharing your workaround @dispalt I added a comment on SO linking to your comment in case someone's in the same situation.

I agree that it would be nice to have some official way to configure macros with compiler options. This is a regularly requested feature. I'm open for the idea if we can find a good api for it. scalameta-based macros are currently undergoing some changes to accommod

[2017-05-09 13:32] olafurpg commented on #839
Thank you for reporting! I tracked the error down to this line https://github.com/scalameta/scalameta/blob/d085c4c22282a809c7e2ea91669a2838592016b6/scalahost/nsc/src/main/scala/scala/meta/internal/databases/AnchorOps.scala#L26 it should be `pos.point` instead of `pos.start`. `Anchor` is going away in https://github.com/scalameta/scalameta/pull/828 but the fix for this bug will still be the same. I

[2017-05-09 14:22] gabro commented on #839
Thanks for the fix! I've left a comment on the commit, take a look when you have a minute :)

[2017-05-10 06:36] olafurpg opened #843 "Unsupported quoting position"
[code]

I expected to get the tree `Type.Select(Term.Name("af"), Type.Name("a"))`

[2017-05-10 06:57] olafurpg opened #844 "Setup MiMa"
I use scalameta pre-releases in scalafix, which depends on metaconfig that depends on paradise. When a breaking change is introduced into scalameta, I need to publish pre-releases for paradise + metaconfig which is a productivity killer. We should automatically check for binary compat issues with sbt-mima https://github.com/typesafehub/migration-manager

[2017-05-10 09:06] olafurpg commented on #836
I'm unable to reproduce after #841, which removed Anchor.

[2017-05-10 09:40] olafurpg opened #846 "Missing .apply from Database.sugars"
The following test
[code]

fails with `[info]   "[17..17[] .apply]" did not equal "[17..17[) [Int]]" (DatabaseSuite.scala:107)`

[2017-05-10 10:07] olafurpg commented on #830
This opens up a question whether we should persist denotations of synthetic definitions. The members of the companion module are quite many
[code]
I believe the ones with the `case` flag are the most interesting ones and should be included in the semantic DB. WDYT @xeno-by ?

[2017-05-10 10:28] olafurpg commented on #799
The protobuf dependency has become even more tightly coupled after #828. I'm not sure if it's worth the refactoring to pull out protobuf into a separate repo. A workaround is to exclude the semantic dependency with exclusion rules http://www.scala-sbt.org/0.13/docs/Library-Management.html#Exclude+Transitive+Dependencies

[2017-05-10 11:51] olafurpg commented on #839
The commit that closed this issue got reverted because the change affected positions of sugars. I am investigating what we can do to support both sugars and compiler messages.

[2017-05-10 12:06] olafurpg commented on #839
Reading up on [Positions in scala/scala](https://github.com/scala/scala/blob/5a5ed5826f297bca6291cd1b1effd3f7231215f9/src/reflect/scala/reflect/api/Position.scala#L80-L91).

Fun fact 1: Position.start/end are only used for RangePositions.
Fun fact 2: `Position.point` is where the caret `^` should appear
Fun fact 3: for [unused import warnings](https://github.com/scala/scala/blob/5a5ed5826f297bca62

[2017-05-10 12:52] olafurpg commented on #383
For better or worse, it seems we need point in order to implement rewrites like RemoveUnusedImport in scalafix, see https://github.com/scalameta/scalameta/issues/839#issuecomment-300461870

I am working on a PR that adds a new Position.RangeWithPoint type which guarantees that start < point < end. In addition, this requires a change in the semanticdb.proto schema.

I propose that we then customize

[2017-05-10 13:02] gabro commented on #839
It makes sense. They represent three different things in the compiler, and I don't see why not exposing it to scalameta users.

[2017-05-10 13:09] olafurpg commented on #839
Interestingly, Position.point was removed in https://github.com/olafurpg/scalameta/commit/918e2ecab7a0dd95c6ff769f4fd76fb2e5d097f4

[2017-05-10 13:10] olafurpg commented on #839
And apparently I co-authored the commit! My memory is failing me 🤔

[2017-05-10 13:11] gabro commented on #839
The commit message here is interesting: https://github.com/scalameta/scalameta/commit/7a193ed47638f6a6b3216814866ae95cc7b57344

[2017-05-10 13:12] gabro commented on #839
I don't know whether the motivation still apply, but it seems the compatibility with scalac's behavior is there now, isn't it?

[2017-05-10 15:00] olafurpg commented on #839
Interesting comment indeed. I still agree with the decision to remove point from Position.Range, I remember being confused when I started hacking on scalafmt.

I just opened #849  that should fix this issue.

[2017-05-10 15:23] olafurpg commented on #737
Implicit conversions are now handled by the sugars section in the semanticdb,

[code]

[2017-05-10 15:23] #737 closed

[2017-05-10 17:58] #837 closed

[2017-05-10 19:24] olafurpg commented on #812
Closed in #845

[2017-05-10 19:24] #812 closed

[2017-05-10 19:32] #656 closed

[2017-05-10 20:17] olafurpg commented on #836
I am able to reproduce this error while running latest sbt-scalahost on the community build

[code]

[2017-05-10 20:49] #836 closed

[2017-05-10 20:49] #813 closed

[2017-05-10 21:27] olafurpg commented on #501
This one is popping up quite a bit while building the community build with scalahost.
[code]

[2017-05-10 21:28] olafurpg commented on #665
I am still able to reproduce this error in the community build with the latest scalahost

[code]

[2017-05-10 22:57] xeno-by commented on #665
This should be very easy to fix by adding something like `if (!unit.source.file.name.endsWith(".scala")) return` to https://github.com/scalameta/scalameta/blob/78338480f560fb7948ee14ae0079651d1bf551c7/scalahost/nsc/src/main/scala/scala/meta/internal/scalahost/ScalahostPipeline.scala#L44.

[2017-05-10 22:58] xeno-by commented on #501
@olafurpg Could you provide a reproduction?

[2017-05-10 23:51] #839 closed

[2017-05-11 09:09] #801 closed

[2017-05-11 16:57] olafurpg commented on #665
That sounds like a reasonable solution, I opened a PR using that approach https://github.com/scalameta/scalameta/pull/857

[2017-05-11 16:58] olafurpg commented on #501
It would be a lot easier to find a minimal repro if scalahost-nsc catched errors and printed out the stacktrace with the culprit filename. Currently the stacktrace does not contain the source file where the error happened.

[2017-05-11 21:11] xeno-by commented on #501
At the head of https://github.com/scalameta/scalameta/pull/854, we: 1) no longer crash compilation if semanticdb crashes, 2) instead, we emit a compiler error that features `unit.source.file.path` (can be relative, can be absolute - depending on what was passed in arguments to the scalac invocation) and the original exception.

[2017-05-11 21:16] xeno-by commented on #501
Your recently reported exception seems to be something different from the original exception. Could you try to rerun the community build with a new build of meta and submit the new exception together with a reproduction in a separate issue?

[2017-05-11 21:33] #777 closed

[2017-05-14 08:39] dgouyette commented on #230
Building tparams with index doesn't work too :

val `A->N` = Range(1, 22) map (n => tparam"""R$n""") // end of file expected but unquote found
[error]     val `A->N` = Range(1,22) map (n => tparam"""R$n""")

[2017-05-14 18:36] olafurpg opened #863 "Dealias symbols"
Currently, in scalafix, when rewriting for example the stdlib `Left` it's necessary to handle both the symbol `scala.util.Left` and `scala.package.Left`. It would be nice if it was possible to dealias appearances of `scala.package.Left` with `scala.util.Left` with some means in the semantic API, for example denotations. Currently, `scala.package.Left` has no denotations unless we build the standar

[2017-05-14 18:42] olafurpg commented on #863
I made a small experiment to see if current denotations can help in this situation and it appears that this issue is blocked by #822 .

[code]

[2017-05-14 21:38] xeno-by commented on #609
Also see #863

[2017-05-15 00:09] xeno-by opened #865 "Consider removing slim semantic databases"
Since 1.8.0, our semantic databases come in two variations - fat (including the original code) and slim (not including the source code). Both approaches have their pros and cons, so I hoped to provide both variations simultaneously - with a particular implementation strategy hidden behind a common API.

It turns out, however, that it's not that simple. For example, slim databases need a sourcepath

[2017-05-15 00:10] xeno-by commented on #865
@olafurpg Would you like to do the honors and change the default to `fat`?

[2017-05-15 13:23] olafurpg opened #867 "Semanticdb bytes are not concatenable"
Semanticdb [Attributes have no `path` field](https://github.com/scalameta/scalameta/blob/16fda03f70671db1c822b329beef2ac0dbb0dbdb/scalameta/semantic/shared/src/main/protobuf/semanticdb.proto#L7). The path name to the original source is inferred from the path to the `.semanticdb` file. This makes it problematic to combine multiple `.semanticdb` files into a single fat `.semanticdb` file.

I propose

[2017-05-15 16:30] xeno-by commented on #230
@dgouyette What output would you like this code to produce?

[2017-05-15 16:47] xeno-by commented on #867
I don't think we can stop giving meaning to relative paths of `.semanticdb` files, because of how incremental compilation works.

However, I agree with adding `s.Attributes.name` in order to better support fat dbs. Then, I guess, we should also change `s.Database` to say `entries: Seq[Attributes]` instead of `entries: Seq[(RelativePath, Attributes)]`.

[2017-05-15 17:20] dgouyette commented on #230
I want this kind of output :

[code]

[2017-05-15 17:24] xeno-by commented on #230
Unlike with the `s"..."` interpolator, unquoting can't be used to assemble names.

Consider doing `range.map(i => Type.Name("R" + i)).map(n => tparam"$n")`.

[2017-05-15 18:24] dgouyette commented on #230
[code]

[2017-05-15 18:25] xeno-by commented on #230
Right, this is a similar bug to what's reported here.

Here's a workaround:

[code]

[2017-05-15 18:28] dgouyette commented on #230
Thanks, it's works

[2017-05-15 18:42] olafurpg commented on #867
Correct. Does this merit postponing v1.8 a wee bit longer? I can fix this tomorrow morning.

[2017-05-15 18:44] xeno-by commented on #867
I think we can postpone, yeah
On Mon, 15 May 2017 at 11:42, Ólafur Páll Geirsson <notifications@github.com>
wrote:

[2017-05-15 19:44] xeno-by commented on #824
@olafurpg Can you help me with this one please? I'm neck-deep in the 2.x refactoring, so I'll very much appreciate if you can take care of release notes this time.

[2017-05-16 01:24] xeno-by commented on #843
This is a pretty outrageous bug. No idea how it could remain hidden all this time.

[2017-05-16 01:36] xeno-by commented on #519
It'd be great to use a similar approach to get rid of other `nel`s in quasiquote.md. See the commit linked above for more details.

[2017-05-16 07:18] olafurpg commented on #665
I am still seeing this error in the logs while compiling the CB:

[code]

Seems we can return Symbol/Position.None there instead of throwing exception.

[2017-05-17 00:34] #501 closed

[2017-05-17 20:31] allanrenucci opened #870 "Crash while parsing _* in xml literal in pattern position"
[code]
[code]

[2017-05-17 20:55] allanrenucci commented on #870
This parses though
[code]

[2017-05-18 12:58] allanrenucci commented on #870
I'd like to give a shot at fixing this.
The issue is that the parser parses a `Pat.Arg.SeqWildcard` but expects a `Pat`.
@xeno-by What is the reason for `Pat` to extends `Pat.Arg` and not the other way around? (i.e. `Pat.Arg <: Pat`)

[2017-05-18 23:24] xeno-by opened #871 "Consider prohibiting non-capturing quasiquotes in patterns"
Examples of undesired quasiquotes:
  * `case q"foo(..$args)" =>` (matching by name is not robust)
  * `case q"class $name" =>` (classes that have non-empty mods will not match)
  * `case q"this" =>` (exotic syntaxes like `C.this` will not match)

Given these (and many other similar) examples, I've been thinking to prohibit pattern matching with quasiquotes that either match some of their pieces ve

[2017-05-18 23:42] xeno-by commented on #156
Given the fact that we no longer plan to support arbitrary mixes of unattributed and attributed trees, we no longer need to wait for super-advanced mysterious technology to take care of hygiene.

Our problems so far can be solved by something much simpler than what we've investigated. I believe we only need two new things:

1) Robust delineation between unattributed and attributed trees. The new d

[2017-05-18 23:49] xeno-by opened #872 "More convenience for tree manipulation"
I have to admit that our tree manipulation functionality is pretty barebone. That was done intentionally in order to simplify `Trees.scala` as much as possible (it's still very complicated anyway).

With the big reorganization planned for 2.x, I suggest that we take time to discuss what tree helpers we would like to see in the default distribution.

Here are some suggestions off the top of my head

[2017-05-18 23:50] xeno-by commented on #872
@DavidDudson @olafurpg Which parts of `contrib` would you recommend for graduation?

[2017-05-19 00:53] xeno-by commented on #625
Superseded by https://github.com/scalameta/scalameta/issues/872

[2017-05-19 00:53] #625 closed

[2017-05-19 00:55] xeno-by commented on #467
Superseded by https://github.com/scalameta/scalameta/issues/872.

[2017-05-19 00:55] #467 closed

[2017-05-19 00:56] xeno-by commented on #378
Superseded by #616.

[2017-05-19 00:56] #378 closed

[2017-05-19 00:58] DavidDudson commented on #872
I think it's also important to have abstract methods on branch traits such as `Member` and `Name` for `withXXX`

This allows you to still modify the underlying object without caring what it is.

[2017-05-19 02:11] xeno-by commented on #672
I've inlined the aforementioned markdown file into the issue description.

[2017-05-19 02:12] xeno-by opened #873 "Scala syntax warts/bugs"
### List of Scala syntax / Scala parser warts discovered so far

  1. Function parameters can not be annotated
  1. `try expr catch expr` syntax
  1. Package objects can't have annotations
  1. Lambdas can not be disambiguated from self types in templates
  1. Patterns in vals are parsed inconsistently
  1. Awkward meaning of infix patterns: `a infix (b, c)` means `infix(a, b, c)`
  1. `pq"_: F[_]

[2017-05-19 07:56] Atry commented on #253
What is Context?

[2017-05-19 07:58] Atry commented on #253
Is there a macro to create Dialect according to the current compiler setting?

[2017-05-19 08:43] Atry opened #874 "Paradise211 does not accept inline/meta"
[code]

[2017-05-19 08:44] Atry commented on #874
Looks like this is the cause of https://github.com/scalameta/scalafmt/issues/777

[2017-05-19 08:45] Atry commented on #874
The scalameta version is 1.7.0

[2017-05-19 15:22] xeno-by commented on #253
This issue is pretty dated. `Context` is something that is called `Mirror` now.

There used to be a macro called `currentDialect`, but now it's just a normal method implemented differently by different platforms that we support:
  * https://github.com/scalameta/scalameta/blob/e92a7b9825d6d94dbb0b16815f40a24d4055c35d/scalameta/dialects/shared/src/main/scala-2.11/scala/meta/internal/dialects/Interna

[2017-05-19 15:26] Atry commented on #253
So it never returns `Paradise211` or `Paradise212` if I understand correctly.

[2017-05-19 15:29] xeno-by commented on #253
Yes, that's right. I think the only solution in your situation is to `import scala.meta.dialects.Paradise211` explicitly. What do you think?

[2017-05-19 15:32] xeno-by commented on #870
@allanrenucci This is one of the suboptimal parts of our design. Incidentally, I took care of it very recently in the 2.x branch. Feel free to do whatever hack you find necessary to support this in 1.x.

[2017-05-19 15:33] Atry commented on #253
I think a macro is able to detect if there is a macro paradise plugin, like:

[code]

[2017-05-19 15:58] xeno-by commented on #253
I guess the question is what kind of default we prefer in that case - still `Scala211` or `Paradise211`. I'd vote for the former personally. Wdyt @olafurpg?

[2017-05-19 18:25] #870 closed

[2017-05-19 21:41] DavidDudson commented on #253
I'd still vote for the former. Just because someone is using macros does not mean they want to manipulate macro code. Most of the time, it means they want to manipulate regular Scala code

[2017-05-20 05:18] exlevan opened #877 "Xml literals are desugared before macro expansion"
See https://github.com/exlevan/scalameta-xml for code example. I expect the code to compile and print `<HelloWorld/>` on run. Instead, it fails to compile with the following message:
[code]

[2017-05-20 07:54] Atry commented on #253
@DavidDudson
There are two questions:

1. How to make `current` method return current dialect?
2. Should `current` method be the default dialect?

I think you mean the `current` method should not be the default dialect on the second question.

[2017-05-20 08:19] olafurpg commented on #877
Thank you for reporting! Xml literals are desugared by the scalac parser, which means current scalameta macro annotations can't preserve them. With https://github.com/scalameta/paradise/issues/194 it will be possible to transform parsed xml tree nodes inside scalameta macro annotations.

[2017-05-21 13:54] olafurpg commented on #253
My experience is that most of the time I want a lenient dialect that accepts as many syntactic features as possible

- inline keyword
- literal types
- trailing commas
- trait parameters
- ...

So far, I haven't hit on a single application where I care about failing fast when I falsely use one of those features on in a host language that does not support that feature. For example, if I use trailin

[2017-05-21 23:19] xeno-by commented on #253
@olafurpg Where would you use dialects then?

[2017-05-22 11:42] olafurpg commented on #253
For example, if I we're to write a new Scala compiler on top of Scalameta then I would want to use dialects. Same maybe for tooling on top of sbt, then we might want to guard against unsupported syntactic features during parsing. Being able to validate a tree against a dialect might also be useful in some application, related https://github.com/scalameta/scalameta/issues/599.

In all of the above

[2017-05-22 11:43] olafurpg commented on #599
Related discussion in #253

[2017-05-22 15:41] #665 closed

[2017-05-22 15:43] #867 closed

[2017-05-22 21:12] xeno-by opened #880 "Rethink Mirror"
This idea is prompted by the fact that we forgot to add the `Mirror.apply(Classpath)` overload in consistency with the recently introduced `Database.load(Classpath)`.

Back then, when `Mirror` was unrelated to `Database`, it seemed reasonable to have two different APIs to create these entities. But now that we have `Database <: Mirror`, maybe we should just retire `Mirror.apply`?

[2017-05-22 21:13] xeno-by opened #881 "rename Input.LabeledString to Input.VirtualFile"
How about we tighten the type signature of `Input.LabeledString` to `(AbsolutePath, String)` as opposed to `(String, String)`? Anyway, we aren't using the flexibility provided by the fact that the first field is now typed as `String`.

[2017-05-22 21:15] xeno-by opened #882 "make Input sealed"
This is yet another idea wrt tightening the types of our core data structures.

Back in the day, we unsealed `Input` because `Tokens` was subclassing it (for the reasons that are long irrelevant). Afterwards, we decoupled one from another, but forgot to put the `sealed` modifier back. This should be done now.

[2017-05-22 21:16] #824 closed

[2017-05-22 22:04] olafurpg commented on #834
scalameta v1.8.0 and paradise 3.0.0-M9 just got released with this fix! Please give it a try

[2017-05-23 01:03] xeno-by opened #883 "Rethink Ref"
When extracting the meta API for 2.x, I found our that ApplyUnary is a Ref. This came as a surprise, almost as if Apply or Interpolate were refs too. I think we should undo this inheritance relationship.

[2017-05-23 06:49] vpavkin commented on #834
Confirmed, works fine now! Thanks! 👍

[2017-05-23 18:21] olafurpg opened #885 "Path needs more work"
[code]

[2017-05-24 05:29] Atry commented on #605
Does it mean all type parameters and dependent types are erased in `Mirror`?

[2017-05-24 05:52] xeno-by commented on #605
`Mirror` is designed to reflect code exactly as it's been written - with all the wealth of the Scala type system available for inspection.

We don't currently store all types in the semantic db (still need to implement that), but what we store and what we will be storing is going to be unerased.

[2017-05-24 05:55] Atry commented on #605
This looks like erased to me:
`[54..58): List => _root_.scala.collection.immutable.List.apply(Lscala/collection/Seq;)Lscala/collection/immutable/List;.`

[2017-05-24 06:07] xeno-by commented on #605
What you see to the right of `=>` is a symbol id, which for methods is built from a JVM signature of the method, as per the Scala Language Specification. We intend for symbols ids to be opaque tokens, so their exact shape shouldn't be representative of the capabilities of our semantic API.

On the other hand, if you try to build a semantic db with the recently released 1.8.0, you'll see that denot

[2017-05-24 11:07] olafurpg opened #886 "Feature request: s.Attributes.sha/hash"
It would be nice if there was a shasum or hash field in s.Attributes. This would be useful to validate that the contents of a file match the compilation unit that created the .semanticdb file. This is more relevant for slim dbs than fat dbs.

[2017-05-24 22:35] paulp opened #889 "package object explore"
allStatics seems to work most of the time, but see below. (Each package run twice to demonstrate non-determinism of error.) Why hard fail when you encounter a symbol you don't understand? It's not like a list obtained this way is reliably comprehensive anyway. It would be more useful if you issued a warning and returned all the symbols you could.

At a glance it looks like mostly it's java static

[2017-05-24 22:48] paulp opened #890 "allSurface"
I knew class "" would be a problem.
[code]

[2017-05-24 22:53] paulp opened #891 "allStatics returns irrelevant classes"
[code]

Those last eight aren't part of package `com.cra.figaro`. This problem is amplified if I use allSurface.

[code]

[2017-05-25 08:52] olafurpg opened #892 "Line wrapping for Syntax and Structure"
It would be nice to provide a linewrapping pretty-printer for both Structure and Syntax. I experimented with paiges https://github.com/typelevel/paiges and got promising results in only a few minutes https://gist.github.com/olafurpg/44ee2d0a8c5b8330702cf00d23d0978a To begin with, this could be a separate `paiges` module that implements `.show[PrettySyntax]` and `.show[PrettyStructure]`.

[2017-05-25 08:55] DavidDudson commented on #892
I would use this all the time :+1: perhaps a prettysyntax method too

[2017-05-25 09:04] olafurpg commented on #892
Agreed, `.prettysyntax` would  be handy. PrettyStructure is very easy to implement, the printer for that gist was implemented in one pattern match with 5-6 cases.

[2017-05-25 09:39] olafurpg commented on #892
If someone wants to take a swing at this, here is a commit that sets up a new project with tests and a basic PrettyStructure implementation https://github.com/scalameta/scalameta/compare/master...olafurpg:paiges?expand=1#diff-294a43b421efb81603e0a1b510374b40R22

[2017-05-25 14:14] olafurpg opened #894 "Expose scalametaSettings/scalametaScalacOptions with sbt-scalahost"
EDITED.

See comment below

[2017-05-25 22:27] xeno-by commented on #889
Hi @paulp! Glad you found these helpers useful. They are definitely helpful for us to keep our public API under control (I find mima to be to low-level for this purpose).

However, all code under org.scalameta is considered internal and is only maintained if it doesn't work for our particular use cases. These utilities is not our core competence, so dedicating significant chunks of time to them wo

[2017-05-25 22:51] xeno-by commented on #894
So that would look something like the snippet below, right?

[code]

[2017-05-26 02:06] paulp commented on #889
Ok. Yes, it would be great if you could either make its status clear in the name of the package or add a comment to the file (this of course goes for whatever else is out there which is internal.) Otherwise each class involves a round of speculation about whether anyone is expected to be using it.

[2017-05-26 02:52] xeno-by commented on #889
Thanks for the advice and the bug reports! I'll take care of internalization during the ongoing refactoring of scalameta.

[2017-05-26 02:52] #889 closed

[2017-05-26 02:54] xeno-by commented on #890
`allSurface` and other members of `org.scalameta.explore` are parts of the internal API  that will be hidden in an upcoming refactoring. Please see https://github.com/scalameta/scalameta/issues/889 for more information.

[2017-05-26 02:54] #890 closed

[2017-05-26 02:54] xeno-by commented on #891
`allStatis` and other members of `org.scalameta.explore` are parts of the internal API  that will be hidden in an upcoming refactoring. Please see https://github.com/scalameta/scalameta/issues/889 for more information.

[2017-05-26 02:54] #891 closed

[2017-05-26 08:04] olafurpg commented on #894
Correct. Alternatively, I could make the ScalahostPlugin do nothing by default and let users enable it like this

[code]
That has the benefit that users can more easily enable the plugin in mass, for example by putting scalametaSettings in their `allSettings`.

[2017-05-26 15:58] MasseGuillaume opened #895 "Add Dotty implicit function to the parser"
https://scastie.scala-lang.org/XxaGpCRKRJqOpz2SZo0R5Q

work without instrumentation:

[code]

[2017-05-26 17:56] b-studios commented on #895
Thanks @MasseGuillaume for following up on the issue! Minor, probably unimportant, remark: There is a typo in the issue title.

[2017-05-27 02:51] Atry opened #896 "The AST of Scaladoc gets broken due to improperly parsing `===`"
[code]

[2017-05-27 02:56] Atry commented on #896
The entire Scaladoc gets broken due to improper parsing `===`

[2017-05-27 03:18] Atry opened #897 "AssociatedComments skips over first Scaladoc in a file"
Create a file A.scala:
[code]

Then parse it:
[code]

There should be a `Scaladoc for class A`. Unfortunately, there is only a `Set()`.

[2017-05-27 09:48] olafurpg commented on #897
Thank you for reporting! I am able to reproduce. I suspect the bug is the AssociatedComments class.

[2017-05-27 09:49] olafurpg commented on #896
cc/ @xavier-fernandez could you take a look?

[2017-05-27 11:15] xavier-fernandez commented on #896
Hi @olafurpg, yes tomorrow I will fix it :)

[2017-05-27 13:32] olafurpg commented on #897
I have a fix for this issue in https://github.com/scalameta/scalameta/pull/898 it should get included in the next release.

[2017-05-27 16:09] olafurpg opened #899 "Position of unused Importee.Wildcard is incorrect"
It currently points to the enclosing Import parent. I expected it to be the same position as the parsed Importee.Wildcard(). Relevant code https://github.com/scalameta/scalameta/blob/bc8df324631d8af91f4c75c279c6026d476ac8bf/scalahost/nsc/src/main/scala/scala/meta/internal/semantic/AttributesOps.scala#L342

[2017-05-27 23:24] xeno-by commented on #895
That'll be a great candidate for the upcoming Scala Center Open Source Spree: https://www.meetup.com/The-Copenhagen-Scala-Users-Group/events/239930806/.

[2017-05-28 00:08] xeno-by opened #900 "The outer reference in this type test cannot be checked at run time"
[code]

[code]

[2017-05-28 00:12] xeno-by commented on #900
This is a consequence of https://issues.scala-lang.org/browse/SI-4440, and it's been plaguing our lives for more than three years now.

Today I decided to investigate the root cause in the compiler and fix the bug. However, instead I discovered a way to trick scalac into avoiding the warning :)

Here's a sketch of the refactoring:

[code]

[2017-05-28 06:31] DavidDudson commented on #734
@tkroman See https://github.com/scalameta/paradise/blob/master/tests/meta/src/test/scala/compile/Expansion.scala#L198

and

https://github.com/scalameta/paradise/blob/master/tests/meta/src/main/scala/namedParam.scala

This is already implemented, and was never an issue

[2017-05-28 06:55] DavidDudson commented on #892
Could we have the possibility of naming args for clarity.

Although the below is fairly trivial, in more advanced examples this would help me

Eg.

[code]

[2017-05-28 07:56] DavidDudson commented on #519
Linking this project https://github.com/alexknvl/newts/blob/master/src/main/scala/newts/opaque.scala

[2017-05-28 08:23] olafurpg commented on #892
Sure thing! Good idea.

[2017-05-28 08:37] #897 closed

[2017-05-28 21:10] xeno-by opened #901 "Add support for Dotty enums"
https://github.com/lampepfl/dotty/blob/master/docs/docs/reference/adts.md

[2017-05-28 21:12] xeno-by opened #902 "Add support for Dotty type lambdas"
https://github.com/dotty-staging/dotty/blob/79e6b51aba08adb30a43b528a13a353221f4ceb5/docs/docs/reference/type-lambdas.md

[2017-05-28 21:13] xeno-by opened #903 "Add support for Dotty named type arguments"
https://github.com/dotty-staging/dotty/blob/e9d87e0dc3f270b3a603267c50b8d7ca66272263/docs/docs/reference/named-typeargs.md

[2017-05-29 05:05] xeno-by opened #904 "Lit.Null and Lit.Unit shouldn't take parameters"

[2017-05-29 16:37] xeno-by commented on #146
This is no longer relevant.

[2017-05-29 16:37] #146 closed

[2017-05-30 06:35] gosubpl commented on #497
I have started working on this. Will ask for assistance at tomorrow's Spree meetup in Copenhagen.

[2017-05-30 08:26] olafurpg opened #905 "Wrong symbol on name applied with extension method"
[code]
Produces the following symbol for `args`

[code]

I expected the symbol to be
[code]

[2017-05-30 08:27] xavier-fernandez commented on #896
Hi @Atry, Which type of AST element it should return if it is not a description? `Header`, an AST class containing the number of `=` used?

[2017-05-30 09:36] Atry commented on #896
I don't know. How do you think?

2017-05-30 16:27 GMT+08:00 Xavier Fernández Salas <notifications@github.com>
:

--
杨博 (Yang Bo)

[2017-05-30 09:51] xavier-fernandez commented on #896
The `===` what represents? A header?

[2017-05-30 11:15] xeno-by commented on #905
Yeah, `refArrayOps` should be in sugars.

[2017-05-30 11:48] xeno-by commented on #406
Looks like this was incorrectly marked as fixed by Github PR integration.

[2017-05-30 13:51] Atry commented on #896
https://wiki.scala-lang.org/display/SW/Syntax

[2017-05-30 13:57] xavier-fernandez commented on #896
Thank you @Atry, will fix it soon

[2017-05-31 08:25] jonas commented on #487
DIBS! Will look into a fix for this.

[2017-05-31 08:28] jonas commented on #895
Will take a look at support for this.

[2017-05-31 12:06] #904 closed

[2017-06-01 15:30] olafurpg opened #908 "Input.toString is dangerous"
[code]

[2017-06-02 12:53] swachter opened #909 "ScalaDoc generation raises NullPointerException when @typeclass annotation is used"
When the @typeclass annotation of the [Simulacrum](https://github.com/mpilquist/simulacrum) project is used then the project can be compiled but scaladoc generation raises a NullPointerException.

A small sample project can be found [here](https://github.com/swachter/macro-scaladoc). Parts of the project follow for convenience:

From build.sbt:

[code]

TestTypeClass.scala:

[code]

Main.scala:

[

[2017-06-02 13:03] raboof opened #910 "Parse failure for "a: Array[_] ⇒ format(t, (a map (_.asInstanceOf[AnyRef]): _*))""
When running sbt-scalahost 1.8.0 on akka, I get:
[code]

I plan to try to come up with a smaller reproducer based on latest scalameta master later, but wanted to record this in case I don't get to it any time soon.

[2017-06-02 13:12] raboof opened #911 "DOS-style line endings"
When running sbt-scalahost 1.8.0 on akka I get:
[code]

This seems to be caused by the fact that this file for some reason has DOS-style line endings (CRLF) instead of unix-style (LF). I'll try and create a minimal reproduction on scalameta master, but wanted to record this already in case I don't get to it any time soon.

[2017-06-02 16:07] usrinivasan opened #912 "Parse error: """ assert((params ++ params2)[TestParam] == TestParam(999))""".parse[Term] ... ) expected but [ found"
Stack trace attached:
[bug1.txt](https://github.com/scalameta/scalameta/files/1048219/bug1.txt)

Pending fix:

[code]

[2017-06-02 16:15] xeno-by commented on #910
Thanks! I'll look into this issue during the weekend.

[2017-06-02 16:23] xeno-by commented on #909
What happens if you remove the library dependency on scalameta? Just trying to figure out what could cause the crash.

[2017-06-02 17:08] usrinivasan opened #913 "Parse error: """ val mfilter = new uv.foo(exception, affectsUser, activeInContext)[String]() """.parse[Term] ... ; expected but [ found"
Pending fixes:

[code]

[2017-06-02 17:11] usrinivasan opened #914 "Parse error: """ structHydrators map { _[K]() } """.parse[Term] ... ; expected but [ found"
Stack trace attached:

[bug2.txt](https://github.com/scalameta/scalameta/files/1048398/bug2.txt)

[2017-06-03 04:55] #895 closed

[2017-06-04 14:42] olafurpg opened #915 "Importer ref quasiquote splicing causes ". expected but end of file found""
[code]

Workaround, use raw trees

[code]

[2017-06-05 00:50] xeno-by opened #918 "Add support for Dotty implicit by-name arguments"
See http://dotty.epfl.ch/docs/reference/implicit-by-name-parameters.html and http://dotty.epfl.ch/docs/internals/syntax.html#types

[2017-06-06 00:34] xeno-by commented on #910
Minimized:

[code]

[2017-06-06 01:47] xeno-by commented on #910
@olafurpg Wdyt about emitting semantic db generation failures as warnings or, even better, infos, so that they don't block our early adopters?

[2017-06-06 01:51] xeno-by commented on #910
I've tried to fix this parser issue, but the fix is quite tricky, and it would benefit greatly from the ongoing 1.9 tree refactoring. So I suggest we somehow unblock the semantic db generation here, and in the meanwhile wait for the tree refactoring to come through.

Here's the sketch of my fix:
[code]

[2017-06-06 06:44] swachter commented on #909
The same NPE is raised.

[2017-06-06 06:58] olafurpg commented on #910
We can add support for `-P:scalahost:errorSeverity:info/warn/error` with info as the default. WDYT?

[2017-06-06 14:08] olafurpg opened #924 "Classify/label reported messages with unique ID"
We currently match against the "Unused import" string in several places

- https://github.com/scalacenter/scalafix/blob/8641796376b924d2d8719cfdc9c7c4975719569e/scalafix-core/src/main/scala/scalafix/rewrite/RemoveUnusedImports.scala#L11
- https://github.com/scalameta/scalameta/blob/a3b8b1f8c7fc7b75d6ea0663e5f3a39555fa574e/scalahost/nsc/src/main/scala/scala/meta/internal/semantic/AttributesOps.scal

[2017-06-06 14:17] olafurpg commented on #762
This got fixed in #761

[2017-06-06 14:17] #762 closed

[2017-06-06 14:56] olafurpg opened #925 "Persist ResolvedName for Importee.Wildcard"
See https://github.com/scalameta/scalameta/blob/a3b8b1f8c7fc7b75d6ea0663e5f3a39555fa574e/scalameta/semantic/shared/src/main/scala/scala/meta/semantic/Api.scala#L33

I would be nice if it returned instead a Symbol.Multi with all the symbols behind that import. For extra credit, it would be nice if it only returned *used* symbols in the compilation unit (cc/ https://github.com/scalacenter/scalafix/i

[2017-06-06 15:29] olafurpg opened #926 "NullPointerException in console/repl"
## Problem
I enabled semanticdb-scala in my project and ran `console` and got this error
[code]

## Expected

Scalahost to do nothing in the repl

[2017-06-06 15:32] olafurpg commented on #926
Any idea @xeno-by how to detect when we are inside the repl? I would prefer to make it safe to use `-Xplugin:scalahost.jar` with the repl instead of forcing users to filter out the setting.

[2017-06-06 16:05] olafurpg commented on #894
I am leaning towards the second option now, this is the same approach as sbt-catalyst takes https://github.com/typelevel/sbt-catalysts  My experience is that many builds set `scalacOptions := ` somewhere which overrides the `projectSettings` defined by sbt-sclahost. Instead of relying on plugin loading order, we should provide a `scalametaSettings: Seq[Def.Setting[_]]` which gives power to the use

[2017-06-06 20:35] xeno-by commented on #926
Here's one way of achieving this: https://github.com/xeno-by/scalameta/blob/master/scalahost/nsc/src/main/scala/scala/meta/internal/scalahost/HijackAnalyzer.scala#L18.

[2017-06-06 20:38] xeno-by commented on #924
This makes sense.

I think I heard that the Dotty team already has error codes implemented. Is there an official documentation for that? /cc @felixmulder

[2017-06-06 20:52] xeno-by commented on #910
Sounds good!

[2017-06-06 20:54] xeno-by commented on #909
I think that it's the paradise plugin that is at fault. I resubmitted this issue at https://github.com/scalameta/paradise/issues/209.

[2017-06-06 20:54] #909 closed

[2017-06-06 20:56] xeno-by commented on #894
Looks much more robust than the current approach. How would a typical build configuration look like in this style?

[2017-06-06 20:56] xeno-by commented on #925
Is there an easy way to find out the used symbols without doing `-Ywarn-unused-import`?

[2017-06-07 06:55] fdietze opened #927 "Error when opening console from sbt"
build.sbt:
[code]
(also applies for scala 2.11.11)

[code]
error:
[code]

[2017-06-07 06:57] olafurpg commented on #927
Thank you for reporting! This is a duplicate of https://github.com/scalameta/paradise/issues/10 and has a documented workaround here http://scalameta.org/tutorial/#Setupbuild

[2017-06-07 06:57] #927 closed

[2017-06-07 06:58] fdietze commented on #927
That was quick! Thank you!

[2017-06-07 11:26] felixmulder commented on #924
There's not an official documentation on it, but yes - each error message does have a unique identifier.

It would be great to collaborate on this with the scalameta team and the scala2 team (ping @adriaanm) to have stable identifiers across both Dotty, Scalac and scalameta.

[2017-06-07 11:27] felixmulder commented on #924
(note: our plan is to re-implement the error messages as enums when moving to only working on the bootstrapped compiler)

[2017-06-07 19:39] xeno-by commented on #924
@felixmulder What kind of compatibility story can we expect from Dotty enums? Will we be able to link to that part of the Dotty compiler from Scala 2?

[2017-06-08 00:05] jonas commented on #901
Docs was moved to https://github.com/lampepfl/dotty/blob/master/docs/docs/reference/enums/adts.md

[2017-06-08 07:35] felixmulder commented on #924
As you know, enum is a desugaring from:

[code]

Into something like:

[code]

As such, for error messages you should be able to refer to the `enumTag` in the future.

Since we are currently writing the Dotty compiler in Scala 2 (might change to Dotty sometime in the not-too-distant future), we have opted for using a Java enum to get these unique identifiers ([ErrorMessageID.java](https://github.c

[2017-06-08 17:30] olafurpg opened #930 "Emit denotations for all used symbols"
Currently, Scalahost only emits denotations for symbols defined in the compilation unit. However, in some cases it might be useful to have denotations for all symbols in the Names section. For example, for the NoAutoTupling rewrite https://scalacenter.github.io/scalafix/#NoAutoTupling (see https://github.com/scalacenter/scalafix/issues/147) would benefit from this as well as the new eta expansion

[2017-06-09 13:16] Atry opened #931 ".syntax method returns unparseable code"
[code]

This bug also breaks inline/meta macro annotations if there are encoded names in the returned `Tree`.

[2017-06-09 18:19] #912 closed

[2017-06-09 20:03] #487 closed

[2017-06-09 21:32] xeno-by commented on #913
Fixed in https://github.com/scalameta/scalameta/pull/928.

[2017-06-09 21:32] #913 closed

[2017-06-09 21:32] xeno-by commented on #914
Fixed in https://github.com/scalameta/scalameta/pull/928.

[2017-06-09 21:32] #914 closed

[2017-06-10 10:21] LoranceChen opened #934 "Decl.Def annotation can't be compiled"
use v1.8.0 annotation:

[code]
The annotation class defined just return input, as this:

[code]
some compiler error encounter:

[code]

[2017-06-11 11:02] a-nigredo opened #935 "Scalahost does not work on Windows"
Scalahost does not save semanticdb because of an error on windows:

`java.net.URISyntaxException: Illegal character in opaque part at index`

The problem is in usage of file path value in scala.meta.io.AbsolutePath#toNio.
Since windows builds path like "C:\myProject\target" it can't pass validation in URI class.

How to reproduce:

1. Create sbt project with scalameta and scalahost.
2. Run sbt cle

[2017-06-11 19:59] xeno-by commented on #935
@olafurpg How do we improve our CI to also check Windows?

On Sun, Jun 11, 2017 at 4:02 AM Andrey Ivanov <notifications@github.com>
wrote:

[2017-06-11 20:01] DavidDudson commented on #935
@xeno-by appveyor is the only decent way IMO. It's pretty easy to setup and free for OSS

[2017-06-12 07:17] a-nigredo commented on #935
@xeno-by @olafurpg @DavidDudson I guess we have to replace backslashes with slashes if it is windows and just add test for it then we don't need CI for windows

[2017-06-12 07:33] olafurpg commented on #925
I think it's fine to require users to enable `-Ywarn-unused-import`, like we do with RemoveUnusedImports https://scalacenter.github.io/scalafix/#RemoveUnusedImports

It seems only import selectors are tracked https://github.com/scala/scala/blob/ff57fa8cfaa54dd2493cdddc277cc43fcab09c88/src/compiler/scala/tools/nsc/typechecker/Contexts.scala#L58 not individual used symbols. Is there another way to s

[2017-06-12 07:37] olafurpg commented on #894
Users would be responsible for adding `scalametaScalacOptions` (name up for debate) to their `scalacOptions`

[code]

The nice thing about this approach is that it makes it more transparent what's needed to enable scalahost. It's really just a few scalacOptions.

[2017-06-12 14:12] LMnet opened #938 "Publish testkit for scala.js"
At the moment there is no testkit for scala.js. As a temporary workaround I just copypasted classes from testkit project to my scala.js project, but it would be convenient to have testkit cross-published.

[2017-06-12 14:50] olafurpg commented on #938
Thank you for reporting! This should be doable. Testkit uses some JVM specific code to download and unzip. However, it should be possible to move that to the `jvm/` directory. Would you be interested in contributing this fix @LMnet ?

[2017-06-12 17:17] xeno-by commented on #894
@dwijnand How would you advise to proceed here?

[2017-06-12 17:19] xeno-by commented on #935
Well, who knows what other Windows issues we have / regressions we introduce. I think it would be beneficial to have a Windows CI. @olafurpg what do you think about appveyor?

[2017-06-12 17:28] xeno-by commented on #925
I think we can just traverse the AST of the entire unit, taking note of symbols that are used there.

[2017-06-13 04:37] LMnet commented on #938
I can try, but I'm playing with scalameta only with my pet project in free time, so I can't promise anything.
About implementation: as far as I understand, `AnyDiff`, `Observation`, `Phase`, `StructurallyEqual` and `SyntaxAnalysis` could be cross-published. `Corpus`, `CorpusFile`, `FileOps` should be moved to the jvm-specific folder. Am I right?

[2017-06-13 07:31] olafurpg commented on #935
I agree it would be nice to run or CI on Appveyor, but does require work and discipline to keep green. If we enable it, we have to be strict that we can't merge PRs unless they are green on Appveyor. My experience is that failing tests on Appveyor are more often caused by configuration issues or resolution errors rather than Windows specific bugs. When it is a Windows specific bug, it's hard/slow

[2017-06-13 10:35] dwijnand commented on #894
The downside is if you ever need to do more than add to scalacOptions (e.g define globalSettings, configurations, synthetic projects, whatnot) you have to re-educate the user. So principle of least power/YAGNI vs potential migration cost.. It's a gut call, there's no black-and-white advise here. 🙂

Ouch.. 😢

[2017-06-13 10:39] olafurpg commented on #894
I think we will mainly provide a `scalametaSettings: Seq[Def.Setting[_]]` which appends scalametaScalacOptions to scalacOptions and adds to other settings like libraryDependencies. Then docs would recommend something like

[code]
Power users (think sbt-scalafix) will still be able to use scalametaScalacOptions if they so prefer.

[2017-06-13 10:41] olafurpg commented on #938
That sounds about right @LMnet .

[2017-06-14 00:05] usrinivasan opened #941 "Parser error: duplicate access qualifier with "private[foo] protected var bar = false""

[2017-06-14 01:22] xeno-by commented on #941
Interestingly, this is valid Scala, so we need to support it in meta, too:

[code]

[2017-06-14 09:39] olafurpg opened #943 "Add Database to semanticdb.proto"
Currently, the top-level message in semanticdb.proto is `Attributes`. This makes it complicated to represent a `Database(entries: Seq[Attribute])` as `Array[Byte]`. It would be nice if there was a Database message
[code]

to match `scala.meta.Database`.

[2017-06-14 12:49] LoranceChen commented on #934
Could someone give me some advice? Thanks a lot

[2017-06-14 13:44] olafurpg opened #944 "Include Mirror.sourcepath and Mirror.classpath."
It's necessary to provide a sourcepath and classpath to load a Mirror. However, once loaded, the sourcepath and classpath are not accessible from a `Mirror` instance. It would be helpful in scalafix to be able to get the original classpath from a `Mirror`. The particular use-case I have in mind is to be able to compile the Mirror sources with Dotty.

[2017-06-14 17:24] xeno-by commented on #943
Following the introduction of `s.Attributes.filename` and fat databases, this suggestion further highlights the fact that our storage layer is torn between partially incompatible use cases.

I don't mind any of these use cases per se (in fact, I was quite enthusiastic about fat databases, suggesting that they become a default), but I think it would be useful to document these use cases somewhere t

[2017-06-14 17:27] xeno-by commented on #934
Looks like a bug in https://github.com/scalameta/paradise. Is this a blocker for you?

[2017-06-14 17:31] allanrenucci opened #945 "Scalameta does not properly tokenise XML literal when followed by `{`"
[code]

[2017-06-14 17:31] olafurpg commented on #943
The use-case I had here was for sbt-messagehost, where the messages don't necessarily come in the correct order per compilation unit. There are two phases, one phase where we get callback when the compiler reports diagnostics and one final "printSummary" phase where we aggregate the collected messages and build a single Database. It would be nice to be able to persist that database somewhere as a

[2017-06-14 17:37] xeno-by commented on #943
Would it be possible to split the `messagehost.database` into a bunch of per-compilation unit `.semanticdb` files?

Re the file extension: I like it primarily because of branding reasons (though the name "semantic db" itself is used in several software projects already). In comparison, `.attributes` feels generic. If we're talking about alternatives, we could start saying `.scalametadb` (results o

[2017-06-14 17:40] olafurpg commented on #944
To elaborate, semantic scalafix rewrites take `Mirror` as an argument. Inside my rewrite, I would like to be able to query that `Mirror` for the dependency classpath that was used to compile `Mirror.sources`. It would be nice to also have scalac options (although compiler plugins will be tricky). I would use the dependency classpath to programmatically re-compile `Mirror.sources` with the Dotty co

[2017-06-14 17:48] olafurpg commented on #943
Re: file extension. I'm in favor of `.scalametadb` and I think those files should contain `s.Database` bytes instead of `s.Attributes`. Then we avoid the need for multiple file extensions, and I believe we pay only a single byte extra to represent them as `List[s.Attributes]` instead of `s.Attributes`.

[2017-06-14 18:02] olafurpg commented on #925
I think that approach won't handle macros, unless you have some magic trick up your sleeve to track used symbols in macros :) I also recall that special care needs to be take for annotations and some type tree nodes.

[2017-06-14 18:05] xeno-by commented on #925
Of course, there is a trick :) Every macro expansion has a special attachment that holds a reference to a typechecked expandee.

[2017-06-14 18:19] olafurpg commented on #925
Sounds like a deal. This would make it possible to expand wildcard imports into explicit imports, which could have a good impact on compiler performance.

[2017-06-15 00:42] #941 closed

[2017-06-15 01:54] LoranceChen commented on #934
Yes, has some stuck on it. I have add a ref to paradise. Thanks @xeno-by

[2017-06-15 07:56] olafurpg commented on #931
Thank you for reporting! I am able to reproduce. I opened #947 which fixes this issue.

The pretty printer has a lot of open issues, I fuzzed it on a large corpus and found ~2k failures with the invariant `parse(pretty(parsed)).structure == parsed.structure`, #567

[2017-06-15 13:06] olafurpg commented on #944
It seems what I'm asking for is to regain some of the old `online.Mirror` capabilities. The use-case is not for typechecking quasiquotes but instead to programmatically create new mirrors with parameters like

- sources: Sourcepath
- dependencyClasspath: Classpath
- compilerArgs: List[String]

This would be very powerful for scalafix in order to re-run the compilation on the fixed output.

[2017-06-15 20:13] xeno-by commented on #944
After today's chat, the consensus is to experiment with saving Scalac compiler settings to `META-INF/semanticdb/whatever`. Since this feature may leak private info, it should be an opt-in.

[2017-06-15 20:23] #930 closed

[2017-06-15 20:24] #931 closed

[2017-06-16 12:39] gabro opened #948 "Add productFields on Trees"
As discussed on gitter, it would be really cool to access all the fields of a tree.

We already have `productPrefix` which enumerates the values, but there's no way of enumerating the names of the fields.

Ultimately the idea would be to have enough pieces to expose a `toMap` that returns a `Map[String, Tree | Seq[Tree]]` (yeah, I know, no unions in Scala yet, but clarity). For example, given

[co

[2017-06-16 22:37] DavidDudson commented on #948
We could also use this to generate prettyStructure from this.

[2017-06-19 09:26] olafurpg commented on #935
I was able to reproduce this error on Appveyor in https://github.com/scalameta/scalameta/pull/951 My aversion to appveyor was largely caused by a bad prior experience trying to configure a cached installation of sbt. I gave it another shot this weekend in https://github.com/scalameta/scalafmt/pull/986 using scoop and that seems to work OK, completing the unit tests in ~3 minutes. I think we should

[2017-06-19 10:10] olafurpg commented on #935
@a-nigredo  https://github.com/scalameta/scalameta/commit/c4ebc773f0796281171f55bccd4455917e9e0876 replaces `Paths.get(file.toURI)` with `file.toPath`, which should fix the issue reported here. I'm testing the fix in #953

[2017-06-19 10:16] olafurpg commented on #935
Shoot, it seems out build exceeds the 1000mb cache limit on appveyor https://ci.appveyor.com/project/olafurpg/scalameta/build/6#L2114 I'm surprised since the log shows we only upload ~210mb

[code]

Has anyone experienced this with Appveyor before?

[2017-06-19 10:38] olafurpg commented on #935
It appears that each entry is not allowed to exceed 100mb, https://www.appveyor.com/docs/build-cache/#saveupdate-cache-before-build-finishes I bumped up the compression flags in https://github.com/scalameta/scalameta/pull/953/commits/e36c3f9ed27858d820471b8d323624b7154d3ea5, but I suspect that will not be enough :/

[2017-06-19 17:51] #908 closed

[2017-06-19 22:07] xeno-by commented on #948
@gabro How has your prototype evolved? Have your requirements changed in the last few days?

[2017-06-19 22:10] gabro commented on #948
no, they're essentially the same. It would still be very useful to access the names of the fields of a Tree, so to zip them with the values.

[2017-06-19 22:13] xeno-by commented on #948
Would you consider contributing this functionality? I'm quite overwhelmed at the moment by the end-of-quarter stuff.

Here's where I'd add synthesis of the `productFields` method: https://github.com/scalameta/scalameta/blob/master/scalameta/common/shared/src/main/scala/scala/meta/internal/ast/ast.scala#L168. I'd obtain the labels for `productFields` from `fieldParamss`.

[2017-06-19 22:24] gabro commented on #948
Yup, I tried something like that today, but I had an hard time debugging it and I couldn't get very far. I'll try again and see what I can do :)

[2017-06-19 22:25] xeno-by commented on #948
Please let me know where you get stuck. I'll be happy to help.

[2017-06-21 15:41] gabro commented on #948
Yay, I have something that appears to be working :) @xeno-by as soon as you have time: https://github.com/scalameta/scalameta/pull/956

[2017-06-21 23:53] jonas commented on #487
This should probably be added to the 1.9.0 milestone.

[2017-06-21 23:53] jonas commented on #895
This should probably be added to the 1.9.0 milestone.

[2017-06-22 07:59] #948 closed

[2017-06-22 08:23] olafurpg commented on #895
Good catch @jonas

[2017-06-22 08:24] olafurpg commented on #487
Good cathch @jonas

[2017-06-22 09:46] olafurpg opened #959 "Symbol <none> for local symbols"
Reported in https://github.com/scalacenter/scalafix/issues/222,
To reproduce

[code]

triggers the following error

[code]

The reported positions point to `flatMap` and `mapStream` here
https://github.com/twitter/scalding/blob/7615dbf6237657a5e2b8778e97b9bc2da353adf6/scalding-core/src/test/scala/com/twitter/scalding/SideEffectTest.scala#L33

I tracked down the root cause to Symbol.syntax for Symb

[2017-06-22 17:24] #959 closed

[2017-06-23 11:49] olafurpg opened #961 "Lit.Double.syntax is different in 2.12 and 2.11"
See https://travis-ci.org/scalameta/scalameta/builds/246161795

[code]

The error is not reported in the 2.11 test on JS.

Reported in https://github.com/scalameta/scalameta/pull/958#issuecomment-310638806

[2017-06-26 09:08] olafurpg opened #964 "Database.map/filter/collect"
I experience regularly that I want to slightly modify a Database. Currently, you need to do something like `db.copy(entries = db.entries.map/filter/collect)`. It would be nice if filter/map/collect were methods on Database to do the same.

[code]

[2017-06-26 14:38] #945 closed

[2017-06-26 15:06] olafurpg opened #967 "Pat.Bind returns unexpected symbol"
[code]
yields a semanticdb like this
[code]
I expected the defn and call sites to match.

[2017-06-26 15:59] piton4k commented on #443
Hi I'm getting the same error, and have been for a while, until I decided to investigate a bit.
Apparently it's caused by any interpolated string (at least any I tried) immediately followed by newline, guess what, with CRLF line end encoding (yay Windows).

Just try this one with CRLF:
[code]

I guess one of those ±1 is not working well with 2 `Char`s for line end.

Inserting other whitespace char

[2017-06-26 17:01] olafurpg commented on #901
After brainstorming with @allanrenucci on this ticket, here is our proposal.

- New token: `Token.Enum() extends Keyword`
- New Defn tree nodes:
[code]

- Defn.Enum is used for plain `enum` (not `enum class`) like here

[code]

- A new modifier, `Mod.Enum()`, which is used for "enum class", are regular `Defn.Class`

[code]

- Up for debate: should the parser validate Defn.Case in these cases?

[co

[2017-06-26 18:26] xeno-by commented on #901
1) How does one model a template for an enum class, e.g. in `enum Option[+T] { case Some[+T](x: T); case None }`? This doesn't seem to be included in the proposed data model.

2) I don't think we can validate `extends Foo` in the parser. This requires name resolution, right?

3) `comma separated cases cannot have templates or ctors`. This looks validatable, so I'd prefer we handled this early.

[2017-06-26 18:55] olafurpg commented on #901
1. plain enums don't have templates, early initializers are not supported, self annotations and non-Defn.Enum statements are not allowed in the template body.
2. I was thinking of requiring at least one parent inside the companion, no naming resolution required
3. sounds good

[2017-06-26 19:00] xeno-by commented on #901
1. Oh wait, I just realized that you're proposing to have both `Defn.Enum` and `Mod.Enum`. Why's that?

[2017-06-26 19:18] allanrenucci commented on #901
`Mod.Enum` is for `enum class` as they seem to parse like normal case classes. `Defn.Enum` however can only contain `Defn.Case`

[2017-06-26 20:06] xeno-by commented on #901
Ah I see. This makes sense.

[2017-06-26 20:27] xeno-by commented on #934
Moved to scalameta/paradise.

[2017-06-26 20:27] #934 closed

[2017-06-26 20:27] #918 closed

[2017-06-26 20:28] xeno-by opened #969 "Add new logo to the website"
Here's some initial work recently done by @olafurpg: https://github.com/scalameta/scalameta/pull/916.

[2017-06-26 20:57] xeno-by commented on #901
Please wait a little bit before working on this. I'd like to get https://github.com/scalameta/scalameta/pull/907 in first.

[2017-06-26 23:57] xeno-by commented on #935
@olafurpg Is this fixed now?

[2017-06-27 01:14] xeno-by opened #971 "Rename the scalahost plugin"
The name "scalahost" has repeatedly proven to be confusing to newcomers. We should call our compiler plugin "semanticdb", since that is much clearer.

[2017-06-27 01:18] xeno-by opened #972 "Shorthands for certain ASTs"
Certain ASTs that stand for simple syntactic constructs are annoyingly verbose. Examples:
  * `Self(Name.Anonymous(), None)`
  * `Ctor.Primary(Nil, Name.Anonymous(), Nil)`
  * `Template(Nil, Nil, Self(Name.Anonymous(), None), Nil)`
  * `Init(tpe, Name.Anonymous(), Nil)`
  * `Name("")`

It may be beneficial to provide shorthands for such ASTs, so that they are less annoying to write, e.g. `Ctor.Pri

[2017-06-27 02:41] ShaneDelmore commented on #972
What about using named parameters to make the constructs less annnoying to write by having defaults for the files that are commonly unused?

[2017-06-27 03:11] xeno-by commented on #972
Unfortunately, this is also unsymmetric, because we can't use default arguments in patterns.

[2017-06-27 06:47] olafurpg commented on #935
Yes, this should be fixed. In addition, we now run CI on appveyor testing the full pipeline works on Windows for every PR.

[2017-06-27 06:47] #935 closed

[2017-06-27 06:48] olafurpg commented on #935
Forgot to link, here is the PR that fixed the issue https://github.com/scalameta/scalameta/pull/953

[2017-06-27 06:52] olafurpg commented on #972
Named pattern matching would be awesome, with other fields becoming `_`. I'm in favor of simplifying the ctors with default values, even if it means asymmetry with patterns. In patterns, it's still possible to `t: Template` match.

[2017-06-27 06:54] olafurpg commented on #971
I'm not convinced this is a good idea. What should sbthost, dottyhost and intellijhost be named then?

I agree it appears to be confusing for new users, but that should be solvable with better docs http://scalameta.org/tutorial/#Scalahost

[2017-06-27 07:00] olafurpg commented on #969
http://scalameta.org/ doesn't use the scalatex-readme side panel so we can switch to any basic landing pages css/html template. Scalatex is just nice syntax for scalatags that generates plain vanilla html. I think this landing page is really slick http://frees.io/ We could try to do something similar with bootstrap.

[2017-06-27 09:15] allanrenucci opened #973 "InvariantFailedException when tokenising keyword after $ in interpolated string"
[code]
I am not sure what is the expected behaviour. Should it returns `Tokenized.Success` and then be rejected by the parser, or `Tokenized.Error`. I don't think it should throw an exception though.

Note that it works for `this` and identifiers.

[2017-06-27 12:13] olafurpg commented on #443
A quick grep in the parser shows we test against \n in several places

[code]

Changing those to `.is[Newline]` where Newline is a `@classifier` like [here](https://github.com/scalameta/scalameta/blob/d0804413ab1845fc9603ef73282bed1c0616970d/scalameta/parsers/shared/src/main/scala/scala/meta/internal/parsers/ScalametaParser.scala#L652) that handles CRLF and LF would probably go a long way to fix t

[2017-06-27 15:43] ShaneDelmore commented on #971
How about sbtSemanticdb, dottySemanticdb, and intellijSemanticdb?

[2017-06-27 16:52] xeno-by commented on #973
Crashing is definitely a wrong thing to do.

I'd say tokenization failure is allright. We fail tokenization if string literals are malformed, so it's kinda logical to also fail on malformed interpolations.

[2017-06-28 16:28] olafurpg commented on #943
It turns out this will be useful for sbthost because of how sbt encodes .sbt files. A single .sbt file is split into multiple compilation units. A protobuf s.Database would allow us to persist s.Attributes for all those compilation units in a single .semanticdb file.

[2017-06-28 16:35] olafurpg opened #975 "Fragment: Illegal character in path"
[code]

[2017-06-28 17:31] olafurpg commented on #944
Mirror.sourcepath would be useful for sbthost. It would be helpful when finding the original Input.File from Input.LabeledString.

[2017-06-29 12:14] olafurpg opened #977 "Synthetic unapply should be sugar"
[code]
matches the unapply to `#::`

[code]
I expected the symbol to reference the `#::` object and the unapply to appear under sugar.

[2017-06-29 12:17] olafurpg opened #978 "Implicit conversions should be sugar"
[code]
produces a semanticdb like this
[code]
I expected all three `#::` to be `ConsWrapper.#::` like the first symbol and not the  `consWrapper(Function0)` sugar.

[2017-06-29 12:44] olafurpg commented on #978
Another example
[code]

[2017-06-30 08:32] olafurpg commented on #816
I think it's best to push this issue back another release. The milestone has a lot of open issues considering the deadline https://github.com/scalameta/scalameta/milestone/3

[2017-06-30 09:15] olafurpg opened #979 "Scalahost and scalameta/paradise are incompatible"
I tried to run scalahost on the scalafix codebase which uses scalameta/paradise and I got many errors like this

[code]

Scalahost managed to persist semanticdbs for several files in the core module, but then started crashing. I suspect it's caused by incompatibility with scalameta/paradise.

[2017-06-30 15:44] olafurpg commented on #971
I think we should postpone this discussion for after 1.9.

[2017-06-30 17:05] xeno-by commented on #971
Fair enough.

[2017-07-01 13:35] olafurpg opened #980 "Denotation.isPARAM should be Denotation.isParam"
For consistency with other isX methods: https://github.com/scalameta/scalameta/blob/f7463f78227e092b5dab0a05667733b0a2b23952/scalameta/semantic/shared/src/main/scala/scala/meta/semantic/Flags.scala#L43

[2017-07-01 13:56] olafurpg opened #981 "Add Attributes.input, simplify Database"
See Database https://github.com/scalameta/scalameta/blob/f7463f78227e092b5dab0a05667733b0a2b23952/scalameta/semantic/shared/src/main/scala/scala/meta/semantic/Database.scala#L15

It's defined as
[code]

I propose we define it instead as

[code]
and add an `input` field to `Attributes`

[2017-07-03 09:48] olafurpg commented on #881
Why absolutepath? Would it make more sense to have `Input.VirtualFile(RelativePath, String)`?

The lhs value of labeled string is currently not a path because I wanted to accommodate weird labels like "<macro>", but I personally would be fine to tighten it to RelativePath.

[2017-07-03 09:50] olafurpg commented on #253
What is the actionable item here for the v1.9 milestone?

[2017-07-03 09:52] olafurpg commented on #880
Do we have plans to add database-unrelated fields to Mirror? I personally would find Mirror.classapath/sourcepath/compilerOptions useful (see https://github.com/scalameta/scalameta/issues/944). I don't know how that would work for combined mirrors from different contexts.

[2017-07-03 11:23] olafurpg commented on #900
I currently match against `case parsers.Parsed.Success(...)`, it would be very nice indeed to be able to skip the `parsers.` prefix. I'm in favor of the refactoring, but will be make it for v1.9?

[2017-07-03 11:25] olafurpg commented on #658
Sounds good. I think the semantic api will stabilize soon, but I propose we push this issue back one milestone.

[2017-07-03 11:29] olafurpg opened #982 "Configurable error handling in scalahost"
Currently, scalahost reports a compilation error when it for example fails to parse a file. It would be nice if it was possible to configure the failure more in Scalahost via `-P:scalahost:failures:info/warn/error/ignore`. During development, I want errors but the default setting should be `warning` in my opinion.

[2017-07-03 11:30] olafurpg commented on #882
I'm in favor of this change. I was surprised to find out that `Input` is not sealed. I think the only Input outside the file is `VirtualInput` https://github.com/scalameta/scalameta/blob/f7463f78227e092b5dab0a05667733b0a2b23952/scalameta/trees/shared/src/main/scala/scala/meta/internal/inputs/VirtualInput.scala

[2017-07-03 11:31] olafurpg commented on #802
I updated the docs on the semantic api in early June http://scalameta.org/tutorial/#SemanticAPI The tutorial is hosted in another repo. Closing as fixed.

[2017-07-03 11:31] #802 closed

[2017-07-03 11:31] olafurpg commented on #767
Closing as duplicate of #802

[2017-07-03 11:31] #767 closed

[2017-07-03 11:41] olafurpg commented on #830
This got fixed in #939. I added a test to double-check it's fixed https://github.com/scalameta/scalameta/pull/983

[2017-07-03 11:42] olafurpg commented on #885
In #953, I refactored Absolute and Relative path to become thin wrappers around nio.file.Path. This means that all io operations on nio.file.Path are available with no conversion overhead.

[2017-07-03 11:42] #885 closed

[2017-07-03 11:44] olafurpg commented on #827
We have such tests now in https://github.com/scalameta/scalameta/blob/f7463f78227e092b5dab0a05667733b0a2b23952/scalameta/tests/shared/src/test/scala/scala/meta/tests/CrossPlatformSemanticSuite.scala writing + reading in JVM and reading only in JS

[2017-07-03 11:44] #827 closed

[2017-07-03 11:47] olafurpg commented on #863
I propose to push this back one milestone. It's not urgent for scalafix.

[2017-07-03 11:49] olafurpg commented on #865
The default is not `fat`. I'm not yet convinced it's a good idea to remove `slim`. I have a feeling that once we start embedding semanticdb files into sources jars then it will be wasteful to embed the file contents in the semanticdb files.

[2017-07-03 12:29] olafurpg commented on #886
I took a stab at this in https://github.com/olafurpg/scalameta/commit/106808a4abd6500fad44e55dba7da62ab321ac40 but realized that our testing story for slim databases is still not good enough. I propose to postpone this for later milestone.

[2017-07-03 12:30] olafurpg commented on #903
Push this back one milestone?

[2017-07-03 12:39] olafurpg commented on #253
After some thinking and offline discussions, I think the conclusion is to

- remove dialects from pretty-printing
- remove dialects from tokens
- keep dialects for parsing
- add `Default` dialect that supports as much as possible without conflict. For example, it can support both trailing commas (2.12 only) and trait parameters (Dotty only).
- add `Scala`/`Dotty`/`Sbt` dialects which alias the lat

[2017-07-03 13:05] olafurpg commented on #975
I am unable to reproduce. I tried

[code]

Reopen if this surfaces again.

[2017-07-03 13:05] #975 closed

[2017-07-04 00:19] ShaneDelmore commented on #865
This is nearly a special case of fatDb though isn’t it?  I mean in the case of embedding into a jar with sources it seems easy to find the sources, we still don’t need to ask the users anything.  Maybe if slim goes away we end up with fat and virtualFat which looks like a fatDb in every way except it is loaded from a jar and the sources are beside the db instead of inside of it.  A slight tweak to

[2017-07-04 16:02] olafurpg commented on #865
That is a good observation @ShaneDelmore I agree, .semanticdb files inside -sources.jar may as well considered fat since there's no need for custom `--sourcepath` from the user.

[2017-07-04 16:59] fede0664 opened #990 "Duplicated annotations on macro expansions"
When using the following macro:

[code]
On this case class:
[code]

The compiler output is:
`case class Test(@TestAnnotation @TestAnnotation var a: String)`

Which obviously is different to the original case class.

[2017-07-05 08:59] olafurpg opened #991 "Crosscompile semantic to 2.10/2.11/2.12"
I've made successful experiments with generating semanticdb files from 2.10 in https://github.com/scalameta/sbthost and messagehost (unpublished sbt plugin that emits only messages from compilerReporter). Currently, I copy-paste semanticdb.proto around and setup sbt-scalapb in all projects. It would be nice if the proto schema was cross-released in a `semantic-schema` package for 2.10-2.12. In the

[2017-07-05 15:48] xeno-by commented on #881
I agree this should be a relative path.

[2017-07-05 15:58] xeno-by commented on #253
Also see https://github.com/scalameta/scalameta/issues/674

[2017-07-05 15:58] #674 closed

[2017-07-05 16:13] xeno-by commented on #973
@allanrenucci Have we fixed this in master?

[2017-07-05 16:18] xeno-by commented on #880
See https://github.com/scalameta/scalameta/issues/964

[2017-07-05 16:21] xeno-by commented on #880
See https://github.com/scalameta/scalameta/issues/944

[2017-07-05 16:30] xeno-by commented on #911
Looks related: https://github.com/scalameta/scalameta/issues/443

[2017-07-05 16:31] olafurpg commented on #905
Pending fix in #988

[2017-07-05 16:34] xeno-by commented on #253
Also see https://github.com/scalameta/scalameta/issues/874

[2017-07-05 16:39] olafurpg commented on #892
btw, in the ammonite-repl and with pprint it's possible to get line wrapping for free

[code]

The output is also nicely syntax highlighted

![screen shot 2017-07-05 at 18 38 26](https://user-images.githubusercontent.com/1408093/27874843-4c0a11d8-61b1-11e7-818b-c49cb01b0b69.png)

[2017-07-05 16:47] xeno-by commented on #838
I think that requiring JDK 1.8 is fine, so we'll be closing the issue.

[2017-07-05 16:47] #838 closed

[2017-07-05 16:49] olafurpg commented on #663
Maybe this is fixed in #988, should check.

[2017-07-05 16:59] jvican commented on #838
Good call. The new version of the incremental compiler is also requiring JDK8, so I think this is totally reasonable.

[2017-07-05 22:36] allanrenucci commented on #973
It is fixed in #974 which isn't merged

[2017-07-05 23:07] xeno-by commented on #399
I'm closing this as a duplicate of #379.

[2017-07-05 23:07] #399 closed

[2017-07-05 23:42] xeno-by opened #993 "Fix checkCLA"
Our checkCLA.sh script is broken, but the fix is actually pretty easy: https://github.com/xeno-by/scalamacros/blob/master/bin/checkCLA.sh.

[2017-07-05 23:44] xeno-by commented on #698
This is no longer relevant, because we publish everything Maven style for quite a while now.

[2017-07-05 23:44] #698 closed

[2017-07-05 23:50] xeno-by commented on #388
I think that by now the split between projects has proven to be a good idea. It establishes conceptual boundaries and avoid the problem of everything depending on everything. While it would be interesting to theorize about better ways of writing software, we have stuff to ship and world to take over. I'm closing this one.

[2017-07-05 23:50] #388 closed

[2017-07-05 23:52] xeno-by commented on #354
@olafurpg What do you think about this issue these days?

[2017-07-05 23:53] xeno-by commented on #252
Noone really complains about the current implementation, so I guess it's good enough. Closing this one.

[2017-07-05 23:53] #252 closed

[2017-07-05 23:54] xeno-by commented on #150
/cc @olafurpg

[2017-07-05 23:57] xeno-by commented on #62
Our parser has been serving us well for 3+ years, which shows that we're not in the market for alternative parser technologies. Therefore I'm closing this issue, and if something groundbreaking comes up, we can always reopen it.

[2017-07-05 23:57] #62 closed

[2017-07-06 00:00] xeno-by opened #994 "Rewrite the prettyprinter"
Our prettyprinter is written in a strange and inefficient style. Also, it has [quite a number of bugs](https://github.com/scalameta/scalameta/issues/567). The current consensus among the project maintainers is that we need to rewrite our prettyprinting module.

[2017-07-06 00:03] xeno-by commented on #355
When this future comes, we may find it useful to reopen this ticket.

[2017-07-06 00:03] #355 closed

[2017-07-06 00:07] xeno-by commented on #164
This is a wishful thinking part of another wishful thinking ticket (#149) that ended up not working. Please follow https://github.com/scalameta/scalameta/issues/379 for a discussion about a practical subset of this functionality.

[2017-07-06 00:07] #164 closed

[2017-07-06 00:10] xeno-by commented on #159
It turns out that the only practical use case for this functionality is #46. Therefore, I'm merging this ticket into that one.

[2017-07-06 00:10] #159 closed

[2017-07-06 00:13] xeno-by commented on #150
Our current lexical model has proven to be good enough for 3+ years. Sure, it's not very efficient (probably, outrageously so), but that doesn't bother our users just yet. Therefore, I'm closing this ticket to let us focus on real issues.

[2017-07-06 00:13] #150 closed

[2017-07-06 00:14] xeno-by commented on #524
Merged into #994.

[2017-07-06 00:14] #524 closed

[2017-07-06 00:17] xeno-by commented on #249
I'm closing this feature request, since it hasn't been in strong demand in almost two years.

[2017-07-06 00:17] #249 closed

[2017-07-06 00:21] #973 closed

[2017-07-06 00:50] ShaneDelmore commented on #892
Great tip, thanks for sharing 👍

[2017-07-06 02:48] xeno-by opened #995 "java.nio.file.Path should be parseable"
@olafurpg What other JDK 1.7+ objects would we want to be parseable?

[2017-07-06 07:31] olafurpg commented on #896
Fixed in #955

[2017-07-06 07:31] #896 closed

[2017-07-06 09:10] olafurpg commented on #882
There seems to be a valid reason for keeping `VirtualInput`, see https://github.com/scalameta/scalameta/blob/bb4bf3d8e604e2b5bada6f2455670bb0db6ffba1/scalameta/scalameta/shared/src/test/scala/scala/meta/tests/trees/TokensSuite.scala#L30 What should we do @xeno-by ? I personally find `ScalametaTokenizer.megaCache` absolutely terrifying (I think it's the cause of https://github.com/scalameta/scalame

[2017-07-06 09:40] olafurpg commented on #900
Just hit on

[code]

very excited to get this fixed 👍

[2017-07-06 09:53] olafurpg commented on #881
RelativePath fails to construct when the path is absolute. Quasiquotes currently use LabeledString to to report helpful messages. I added a hack in https://github.com/olafurpg/scalameta/commit/cc4a1277cf17d4f1abeac2fa621ac5bcd56cb942 to relatevize the path if it's absolute. This ruins the nice absolute filepaths in the reported quasiquote messages. I propose that we use `VirtualFile(nio.Path, Stri

[2017-07-06 09:57] olafurpg commented on #995
`Path` is the only one I can think of.

[2017-07-06 10:14] olafurpg opened #996 "m.Database.entries should be scala.Seq instead of List"
Why? Because there is a chance that these entries become very large (>30.000) and in that case we will want to use a more efficient collection. By binding to List, we will always need to convert `.toList` to build a database, which is both wasteful and buys us nothing.

[2017-07-06 10:16] #899 closed

[2017-07-06 10:16] #846 closed

[2017-07-06 10:16] #943 closed

[2017-07-06 10:16] #977 closed

[2017-07-06 10:16] #982 closed

[2017-07-06 10:17] olafurpg commented on #830
Fixed in #988

[2017-07-06 10:17] #830 closed

[2017-07-06 10:17] olafurpg commented on #978
Fixed in #988

[2017-07-06 10:17] #978 closed

[2017-07-06 10:18] olafurpg commented on #386
Duplicate of #844

[2017-07-06 10:18] #386 closed

[2017-07-06 10:20] olafurpg commented on #905
Fixed in #988. The names section for that example is now

[code]

[2017-07-06 10:21] #905 closed

[2017-07-06 10:30] olafurpg commented on #964
I opened #998 making Database extend Seq[Attributes], feedback is welcome.

[2017-07-06 10:35] olafurpg commented on #880
What is the actionable item in this ticket? I'm OK with removing Mirror.apply and keeping things otherwise unchanged. I'd like to note however that the `Mirror` interface does not serve a real purpose since all it does it provide `Mirror.database: Database`.

[2017-07-06 11:04] olafurpg opened #999 "Remove org.scalameta.logger"
I no longer need it since I use `pprint.log` instead and this trick https://twitter.com/olafurpg/status/882567740669788161

[2017-07-06 11:18] olafurpg commented on #822
I will take this on since I have an idea I'd like to try out.

I propose to

- Change `Sugar` message in schema
[code]
- `Sugar.syntax` becomes `Sugar.attributes.contents`
- `m.Database.sugar(pos)` returns `Stat` instead of `String`.
  - sugars at the same position are concatenated, example `[1..1) [T]` and `[1..1) (blah)` becomes `[1..1) [T](blah)`. The ordering used for concatenation is 1) .appl

[2017-07-06 16:14] xeno-by commented on #996
Will be fixed in https://github.com/scalameta/scalameta/pull/997.

[2017-07-06 16:23] #981 closed

[2017-07-06 16:23] #996 closed

[2017-07-06 20:19] xeno-by opened #1001 "Change List to scala.Seq in trees"
A recent refactoring changed all occurrences of immutable.Seq to List in both syntactic and semantic API. However, we quickly figured that this may not be good enough for Database, so we changed Database.entries from List to scala.Seq.

I propose that we make the same change to trees, too. Previous discussion: https://github.com/scalameta/scalameta/pull/907#issuecomment-306210194. In addition to a

[2017-07-07 02:30] xeno-by commented on #995
While we're at it, we should also add an `Input.File.apply` overload that takes a `Path`.

[2017-07-07 02:34] xeno-by opened #1002 "Simplify the implementation of quasiquotes"
I think that the [implementation of quasiquotes in scalamacros/scalamacros](https://github.com/xeno-by/scalamacros/blob/5b055c894d20ebc4f3b12c18d47656f8b35389d4/plugins/scalac/src/main/scala/scala/macros/internal/plugins/scalac/quasiquotes/Macros.scala) is a huge step forward wrt our current implementation:
  * It is much more concise.
  * It doesn't use automatic derivation for liftables (because

[2017-07-07 02:42] xeno-by commented on #882
Why can't we replace `VirtualInput` by `LabeledString`/`VirtualFile` in this code?

On the topic of `megaCache`, I think that it exists only because we needed reasonable performance of `Tree.tokens` on synthetic trees. Once we no longer synthesize tokens, this will become moot anyway, right?

[2017-07-07 02:48] xeno-by commented on #881
Oh well, this is sad, but I can't see how anything can be done about this. I agree that `Path` is an improvement over `String`.

[2017-07-07 04:09] xeno-by commented on #880
The actionable item is to figure out the desired API for `Mirror`. I hope to get to this on Sunday.

[2017-07-07 04:14] xeno-by commented on #964
Closed in favor of https://github.com/scalameta/scalameta/issues/880.

[2017-07-07 04:14] #964 closed

[2017-07-07 04:15] xeno-by commented on #944
Closed in favor of https://github.com/scalameta/scalameta/issues/880.

[2017-07-07 04:15] #944 closed

[2017-07-07 04:17] xeno-by commented on #655
Fixed in https://github.com/scalameta/scalameta/pull/907.

[2017-07-07 04:17] #655 closed

[2017-07-07 04:17] xeno-by commented on #227
Fixed in https://github.com/scalameta/scalameta/pull/907.

[2017-07-07 04:17] #227 closed

[2017-07-07 04:18] xeno-by commented on #874
This will be fixed in https://github.com/scalameta/scalameta/issues/253.

[2017-07-07 04:18] #874 closed

[2017-07-07 04:19] xeno-by commented on #576
Closing in favor of https://github.com/scalameta/scalameta/issues/616.

[2017-07-07 04:19] #576 closed

[2017-07-07 04:20] xeno-by commented on #616
The last three checkboxes are fixed in #907, along with a bunch of other improvements. The others need further thinking, as proposed solutions introduce quite a lot of ceremony.

[2017-07-07 04:21] xeno-by commented on #381
This will be obviated by https://github.com/scalameta/scalameta/issues/253.

[2017-07-07 04:21] #381 closed

[2017-07-07 04:21] xeno-by commented on #389
This will be fixed by https://github.com/scalameta/scalameta/issues/253.

[2017-07-07 04:21] #389 closed

[2017-07-07 04:22] xeno-by commented on #599
Closed in favor of https://github.com/scalameta/scalameta/issues/253.

[2017-07-07 04:22] #599 closed

[2017-07-07 04:56] xeno-by commented on #911
Closed in favor of https://github.com/scalameta/scalameta/issues/443.

[2017-07-07 04:56] #911 closed

[2017-07-07 06:01] ShaneDelmore commented on #1001
The main argument I hear against Seq is that it isn’t immutable by default but the strawman collections proposal has Seq defaulting to be immutable (tentatively scheduled for 2.13) in which case the original complaint may not last that much longer.

[2017-07-07 06:30] olafurpg commented on #1001
I am not sure we need so much consistency in our collection choices for unrelated data structures across modules. I think it's fine to use List on trees and Seq in Database. Tokens already use arrays, and for good reasons. Data structures have different shapes and requirements. My experience is that

1) databases can become large (>30.000 elements)
2) the surface code I write against database is q

[2017-07-07 06:34] olafurpg commented on #882
What should be the label for VirtualInput?

How do we avoid synthetic tokens for synthetic trees?

[2017-07-07 07:02] DavidDudson commented on #1001
Here's my opinion.

The entire scalameta tree hierarchy must retain immutability, otherwise no consumer of the scalameta api can reason about the internals of scalameta. This requires all fields to have some immutable.Seq type.

If we allow inputs of type scala.Seq/ we immediately have to copy that to an immutable.Seq of some kind unless it is already an immutable.Seq.

@ShaneDelmore Correct me if

[2017-07-07 08:31] #980 closed

[2017-07-07 08:50] Rudogma opened #1006 "Quasiunquoting('tparam). If '..mods' missed, compilation fails"
[code]

Workaround, specify empty ..mods (Nil, or Seq.empty)
[code]

[2017-07-07 09:17] olafurpg commented on #881
I'm not sure if this refactoring is worth it, so I'm gonna assign this issue to you. I personally like the current flexibility of labeled string. We use inputs to uniquely identify positions which are the cornerstone of the semantic api. Being able to add any arbitrary label is quite handy in my opinion. Restricting the label to `nio.Path` doesn't buy us much IMO. I'm happy to reconsider, we had i

[2017-07-07 09:18] olafurpg commented on #882
I'm not sure what to do here. I don't think I have the necessary context around megacache to confidently refactor VirtualInput. I will leave this ticket to you @xeno-by

[2017-07-07 19:28] ShaneDelmore commented on #1001
@DavidDudson I was mistaken, there is only a suggestion to make the strawman Seq immutable.
https://github.com/scala/collection-strawman/issues/149

I upvoted this based on the thinking that scala Seq was moving towards immutable, if that doesn’t end up happening then I agree I would prefer List to have the immutability guarantee.

[2017-07-09 21:08] xeno-by opened #1011 "Make Scala 2.12 a default scala version in the build"
Scala 2.12 has been released a long while ago, and moreover the imminently arriving Scala 2.12.3 features huge compilation speed-ups. It's time to make the switch! (We'll still crosscompile to Scala 2.11, but I'm confident that Scala 2.12 needs to become a default).

[2017-07-09 21:36] xeno-by opened #1012 "Benchmark List vs Seq in Database"
We changed Database.entries from List to Seq based on a hypothesis that Seq is going to be significantly more efficient (https://github.com/scalameta/scalameta/issues/996). We owe it to ourselves to confirm this hypothesis.

[2017-07-09 21:37] xeno-by commented on #1001
Allright, let's keep lists in trees.

Regarding List becoming Seq in Database. I accepted that PR (see https://github.com/scalameta/scalameta/issues/996 for details) when I just woke up and soon enough started regretting that decision.

My reason for regret is that the only argument provided in favor of the change was performance-related, but it wasn't accompanied by benchmark results. Our experie

[2017-07-09 21:37] #1001 closed

[2017-07-09 22:04] xeno-by commented on #881
I agree that new experiments provide clear evidence that we shouldn't change the type label to any kind of `Path`.

[2017-07-10 10:07] #995 closed

[2017-07-10 13:26] olafurpg commented on #999
I've found the `pprint.log` trick to be difficult to use since I publish too often artifacts to maven central. For this reason, I'd like to keep org.scalameta.logger since it's makes me very productive at tracking down bugs.

[2017-07-10 13:26] #999 closed

[2017-07-10 13:49] olafurpg commented on #844
This change is ready here: https://github.com/scalameta/scalameta/compare/master...olafurpg:mima?expand=1 There's no need to merge it until after the v2 release.

[2017-07-10 18:41] xeno-by commented on #883
After thinking more about this, I realized that we don't have a clear story about what refs are and what are good for.

Here are the reasons why we added `Ref` in the early days of Scalameta:
  * Scala.reflect had `RefTree` and that trait has proven to be useful in the compiler.
  * We wanted an analogue of `Type.typeSymbol`, and that can be somewhat emulated by matching a type against `${ref: Ref

[2017-07-10 21:04] DavidDudson commented on #883
I've never really seen a useful case for ref. Sounds good to me.

[2017-07-11 01:21] xeno-by commented on #369
This feature seems to work well, and noone complains about it. Therefore I'll go ahead and close it.

[2017-07-11 01:21] #369 closed

[2017-07-11 01:24] xeno-by commented on #248
Closed in favor of https://github.com/scalameta/scalameta/issues/406.

[2017-07-11 01:24] #248 closed

[2017-07-11 01:26] xeno-by commented on #222
Superseded by https://github.com/scalameta/scalameta/issues/871.

[2017-07-11 01:26] #222 closed

[2017-07-11 01:27] xeno-by commented on #194
Looks fixed in v2.0.

[2017-07-11 01:27] #194 closed

[2017-07-11 03:25] xeno-by commented on #203
Fixed in v2.0.

[2017-07-11 03:25] #203 closed

[2017-07-11 03:25] xeno-by commented on #190
Fixed in v2.0.

[2017-07-11 03:25] #190 closed

[2017-07-11 03:32] xeno-by commented on #374
Actually I'm fine with closing this as wontfix. This functionality doesn't seem to be in demand, and the error messages now clearly explain what's going on.

[2017-07-11 03:32] #374 closed

[2017-07-11 03:34] xeno-by commented on #234
I'm going to concur. We've been dreaming about advanced ellipses for almost five years now, but they just don't come up sufficiently often to warrant "a major rethinking of unquote support in the parser".

[2017-07-11 03:34] #234 closed

[2017-07-11 03:36] xeno-by commented on #223
@dwijnand What exactly would you like to achieve with your code snippet? I have a strong suspicion that your use case will be supported in 2.0.

[2017-07-11 03:40] xeno-by commented on #193
@olafurpg I don't see how we can reasonably support this. What do you think?

[2017-07-11 03:50] Atry opened #1013 "AST get changed after `ast.syntax.parse` due to elimination of semicolon"
[code]

[2017-07-11 04:40] xeno-by commented on #380
I'm going to close this ticket for now. There haven't been any user requests for this functionality, so let's focus on functionality that has actually been requested.

[2017-07-11 04:40] #380 closed

[2017-07-11 04:42] xeno-by commented on #503
Fixed in v2.0.

[2017-07-11 04:42] #503 closed

[2017-07-11 06:50] dwijnand commented on #223
Defining a variant of `case class` via macro annotation: https://github.com/dwijnand/dataclasses/blob/e244272b58a5d5abd90a1b6fcd3ca561d17d9766/src/main/scala/dataclasses/internal/DataMacros.scala#L40-L44

[2017-07-11 07:33] olafurpg opened #1015 "Semantic information for Database.denotations"
Follow up of #822. Currently it's possible to resolve a few names in Database.sugars but not in Database.denotations. It would be nice if for example it was possible to attribute references in Denotation.info

[2017-07-11 07:34] olafurpg commented on #822
#1000 took the first steps towards fixing this problem. The PR added two data structures `Input.Sugar` and `semantic.Sugar`, which can be used to attribute "invisible code". Now that this model is merged, I propose we
- close this issue
- delegate Database.denotations to #1015
- open separate issues for bugs/rfe on the new model to attribute sugar

[2017-07-11 07:34] #822 closed

[2017-07-11 07:52] olafurpg commented on #223
The next release introduces Term.Init, which avoids the need for templates in most basic cases.

[code]

[2017-07-11 07:55] olafurpg commented on #1013
Thank you for reporting! This appears to be a duplicate of  the top issue in https://github.com/scalameta/scalameta/issues/567#issue-195539795 The pretty-printer should emit a blank line when the following line starts with a curly brace, this is a case where scala's attempt to be whitespace insignificant backfires.

[2017-07-11 07:57] olafurpg commented on #193
I'd say this case is better suited with vanilla apply/unapply.

[2017-07-11 08:15] #230 closed

[2017-07-11 08:15] #583 closed

[2017-07-11 08:15] #829 closed

[2017-07-11 08:15] #833 closed

[2017-07-11 08:15] #843 closed

[2017-07-11 08:15] #915 closed

[2017-07-11 08:15] #1011 closed

[2017-07-11 10:02] olafurpg commented on #677
This may give hints how to publish to sonatype from travis

- https://github.com/lucidsoftware/neo-sbt-scalafmt/blob/7321eeddbf52f2a9e3ffa44e061eebeb3d1febb4/build.sbt#L18
- https://github.com/lucidsoftware/neo-sbt-scalafmt/blob/7321eeddbf52f2a9e3ffa44e061eebeb3d1febb4/.travis.yml#L22-L29

[2017-07-11 16:08] xeno-by commented on #193
Allright, I'm closing as wontfix. I don't see a way to support this scenario without significantly complicating the code generated by quasiquotes.

[2017-07-11 16:08] #193 closed

[2017-07-11 16:12] xeno-by commented on #1013
@Atry, thanks for reporting! @olafurpg, thanks for the analysis! I'm closing this issue in favor of #567, since it indeed looks like a duplicate.

Issues like that increase my personal priority of https://github.com/scalameta/scalameta/issues/994. Our current implementation of the prettyprinter is so brittle that fixing this issue (which should be really simple) is really annoying.

[2017-07-11 16:12] #1013 closed

[2017-07-11 18:33] xeno-by commented on #993
@olafurpg Since you were looking into our build recently, can you take care of this one too, please?

[2017-07-11 18:33] xeno-by commented on #1006
Fixed in https://github.com/scalameta/scalameta/pull/1014.

[2017-07-11 18:33] #1006 closed

[2017-07-11 18:35] xeno-by commented on #873
This is non-actionable, since we don't have control over Scala syntax.

[2017-07-11 18:35] #873 closed

[2017-07-11 18:40] xeno-by commented on #645
Trailing commas are already enabled for `Scala212`. Only literal types are pending.

[2017-07-11 18:42] xeno-by commented on #368
Evidently, this functionality isn't popular with our users. I'm closing this for now, but can consider reopening this issue if the demand becomes non-zero.

[2017-07-11 18:42] #368 closed

[2017-07-11 18:55] xeno-by commented on #691
@rcano Would you be interested in contributing this new feature? It looks like parser changes are going to be just a couple lines of code around https://github.com/scalameta/scalameta/blob/2289145b9a7927082c5a498e6ae0f677d97bb08f/scalameta/parsers/shared/src/main/scala/scala/meta/internal/parsers/ScalametaParser.scala#L2590.

[2017-07-11 19:04] xeno-by commented on #645
Literal types got delayed again: https://github.com/scala/scala/pull/5310#issuecomment-311830956.

Given the evident uncertainty that surrounds planning of some of the advanced language features, I think it is best to close this issue (and issues like this one) and be reactive rather than proactive in accommodating language changes.

[2017-07-11 19:04] #645 closed

[2017-07-11 19:25] xeno-by commented on #840
Superseded by https://github.com/scalamacros/scalamacros/issues/7.

[2017-07-11 19:25] #840 closed

[2017-07-11 19:26] xeno-by commented on #160
Superseded by https://github.com/scalamacros/scalamacros/pull/1.

[2017-07-11 19:26] #160 closed

[2017-07-11 19:27] xeno-by commented on #156
Superseded by https://github.com/scalamacros/scalamacros/pull/1.

[2017-07-11 19:27] #156 closed

[2017-07-11 19:27] xeno-by commented on #619
Superseded by https://github.com/scalamacros/scalamacros.

[2017-07-11 19:27] #619 closed

[2017-07-11 19:27] xeno-by commented on #667
Superseded by https://github.com/scalamacros/scalamacros.

[2017-07-11 19:27] #667 closed

[2017-07-11 19:27] xeno-by commented on #668
Superseded by https://github.com/scalamacros/scalamacros.

[2017-07-11 19:27] #668 closed

[2017-07-11 19:27] xeno-by commented on #669
Superseded by https://github.com/scalamacros/scalamacros.

[2017-07-11 19:27] #669 closed

[2017-07-11 19:27] xeno-by commented on #670
Superseded by https://github.com/scalamacros/scalamacros.

[2017-07-11 19:27] #670 closed

[2017-07-11 19:32] xeno-by commented on #877
Hi @exlevan! After discussing the future of Scala macros, we have decided to retire scalameta/paradise in favor of a new implementation that will be living at https://github.com/scalamacros/scalamacros.

This means that in the future we won't be doing bugfixes for scalameta/paradise, focusing on the new implementation of Scala macros instead. We will, however, dedicate effort to providing a migrat

[2017-07-11 19:32] #877 closed

[2017-07-11 19:36] xeno-by commented on #306
@olafurpg @DavidDudson @ShaneDelmore What do you think about this one?

[2017-07-11 19:37] xeno-by commented on #365
This feature request hasn't been popular with our users. I'll close this issue for the time being.

[2017-07-11 19:37] #365 closed

[2017-07-11 19:38] xeno-by commented on #273
Superseded by https://github.com/scalameta/scalameta/issues/902.

[2017-07-11 19:38] #273 closed

[2017-07-11 19:40] xeno-by commented on #219
@olafurpg @ShaneDelmore @DavidDudson What do you think about this one? I feel that we should leave things as is, without overloading the meaning of `Term.Placeholder`.

[2017-07-11 19:46] xeno-by commented on #798
Hi @DylanLukes! Thanks for reporting the issue. It looks like it is specific to the macro system implemented in scalameta/paradise, and it doesn't affect Scalameta in general.

After discussing the future of Scala macros, we have decided to retire scalameta/paradise in favor of a new implementation that will be living at https://github.com/scalamacros/scalamacros.

This means that in the future we

[2017-07-11 19:46] #798 closed

[2017-07-11 19:50] xeno-by commented on #902
https://github.com/scalameta/scalameta/issues/437 provides a very important remark about `Type.Lambda`. We should think in which locations in Scala programs we'd like to allow type lambdas and then implement corresponding `checkParent` checks that enforce these restrictions.

[2017-07-11 19:54] xeno-by commented on #1015
One thing that I'd like to implement here is making `Denotation.info` strings parseable. For that, we'll need to introduce `Type.Method` that can express dependent method types. This is going to be a new AST node that will need a `checkParent` check that makes sure that it doesn't appear in normal programs.

[2017-07-11 19:54] xeno-by commented on #437
Superseded by https://github.com/scalameta/scalameta/issues/902 and https://github.com/scalameta/scalameta/issues/1015.

[2017-07-11 19:54] #437 closed

[2017-07-11 20:04] xeno-by commented on #613
@olafurpg What do you think about this one after working on https://github.com/scalameta/scalameta/pull/1000?

[2017-07-11 20:48] dwijnand commented on #368
I would expect more demand when executing scalameta (or scalameta-depending code) doesn't require performing backflips in zero gravity (i.e class-loading from Scala 2.10). I for one want to ship features in sbt plugins using scalameta.

[2017-07-11 20:49] xeno-by commented on #368
Allright. Let's keep an eye on this in the future!

[2017-07-12 00:57] rcano commented on #691
I'm not familiar at all with scalameta's codebase and that file you linked scared me good 😓

[2017-07-12 11:55] olafurpg commented on #613
How is this different from sugars?

[2017-07-12 11:56] olafurpg commented on #306
`Term.Placeholder()` has not bugged me once, it's quite intuitive IMO. I propose we keep this unchanged.

[2017-07-12 12:56] olafurpg commented on #993
Here you go @xeno-by https://github.com/scalameta/scalameta/pull/1019 I borrowed the script from Scala Native and it seems to do the check now.

[2017-07-12 14:08] xeno-by opened #1020 "Prepare changelog for v2.0"